<div class="gna-bc">
  <span>Configuration des produits / Groupes de produits / Voir</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

                @if (isSave || accountService.pageLoading || accountService.isSave) {
                  <button mat-raised-button
                          class="gna-btn-default gna-full-width gna-disable">Modifier</button>
                } @else {

                  <button mat-raised-button
                          color="primary"
                          class="gna-btn-default gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onViewEdit()">Modifier</button>
                }
            </div>

            <!--<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-save gna-full-width gna-disable">Soumettre</button>
              } @else {

                @if (!formData.valid) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onGetNotBlankAlert()">Soumettre</button>

                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onConfirm()">Soumettre</button>
                }
              }
            </div>-->

          </div>
        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="container-fluid">
          <div class="mt-4">
            <div class="card">
              <div class="card-body gna-card-body"
                   *ngIf="productGroupData">

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Statut : </span>
                    @if (productGroupData.statusCode && productGroupData.statusCode === 10) {
                      <p-tag severity="warning" value="Enregistré"></p-tag>
                    } @else if (productGroupData.statusCode && productGroupData.statusCode === 11) {
                      <p-tag severity="success" value="Validé"></p-tag>
                    } @else if (productGroupData.statusCode && productGroupData.statusCode === 12) {
                      <p-tag severity="success" value="Approuvé"></p-tag>
                    }
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Etat : </span>
                    @if (productGroupData.enabled) {
                      <p-tag severity="success" value="Activé"></p-tag>
                    } @else  {
                      <p-tag severity="danger" value="Désactivé"></p-tag>
                    }
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Enregistrement : </span>
                    @if (productGroupData.createdAt) {
                      {{ productGroupData.createdAt | date: 'dd-MM-YYYY'}} {{ productGroupData.createdAt | date: 'hh:mm:ss'}}
                    } @else  {
                     N/A
                    }
                  </div>
                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Code Groupe Produit : </span>
                    <span class="gna-view-value">
                    @if (productGroupData.code ) {
                      {{ productGroupData.code }}
                    } @else {
                      N/A
                    }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Nom Groupe Produit : </span>
                    <span class="gna-view-value">
                    @if (productGroupData.name ) {
                      {{ productGroupData.name }}
                    } @else {
                      N/A
                    }
                  </span>
                  </div>

          <!--        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Catégorie : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.category) {
                         {{ productGroupData.category.name }}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>
-->

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Montant Accessoires Compagnie : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.accessoryAmountCompany) {
                         {{ productGroupData.accessoryAmountCompany | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr'}}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Montant Accessoires Intermédiaire : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.accessoryAmountIntermediate) {
                         {{ productGroupData.accessoryAmountIntermediate  | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr'}}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                      <span class="gna-view-label"> Taux Taxe Accessoires : </span>
                      <span class="gna-view-value">
                       @if (productGroupData.accessoryTaxRate ) {
                         {{ productGroupData.accessoryTaxRate | number : "2.0"}}%
                       } @else {
                         N/A
                       }
                  </span>
                    </div>


                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Règlegment : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.paymentMethod) {
                         {{ productGroupData.paymentMethod.name }}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Périodicité : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.periodicity) {
                         {{ productGroupData.periodicity.name }}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Seteur d'assurance : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.insuranceSector) {
                         {{ productGroupData.insuranceSector.name }}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Mode de gestion : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.managementMode) {
                       Oui
                       } @else {
                     Non
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Bénéficiaires : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.beneficiaries) {
                         Oui
                       } @else {
                         Non
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Taux de couverture : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.coverageRate) {
                         Oui
                       } @else {
                         Non
                       }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Avis d'échéance : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.maturityNotice) {
                         Oui
                       } @else {
                         Non
                       }
                  </span>
                  </div>



                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <span class="gna-view-label"> Description : </span>
                    <span class="gna-view-value">
                       @if (productGroupData.description) {
                         {{ productGroupData.description }}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                    <div class="gna-view-label text-center"> Clauses Contractuelles</div>
                    <span class="gna-view-value">
                       @if (productGroupData.clauses) {
                         <div [innerHTML]="productGroupData.clauses"></div>
                       } @else {
                         <div>N/A</div>
                       }
                  </span>
                  </div>

                </div>


              </div>
            </div>

            <div *ngIf="productGroupData && productGroupData.guarantees && productGroupData.guarantees.length > 0">
              <table class="table table-borderless gi-table mt-2">
                <thead>
                <tr>
                  <th>Code Garantie</th>
                  <th>Nom Garantie</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Obligatoire</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  @for (item of productGroupData.guarantees; track item) {
                    <tr>
                      <td>{{ item.guaranteeCode }}</td>
                      <td>{{ item.guaranteeName }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        @if (item.mandatory) {
                          Oui
                        } @else {
                          Non
                        }
                      <td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
