<div class="gna-bc">
  <span>Configuration des produits / Garanties</span>
</div>

<div class="container-fluid">

 <!-- <div class="gna-content-header">
    <p-breadcrumb [model]="items" [home]="home" class="gna-breadcrumb"></p-breadcrumb>
  </div>-->

  <div>
    <mat-card class="gna-card">

      <mat-card-header class="gna-card-header">
        <div class="container-fluid">
        <div class="gna-list-header">
          <div class="gna-list-header-1">
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (keyup)="filterResults(filter.value)" placeholder="Recherche..."
                           class="example-full-width gna-list-ir"
                           #filter/>
                      </span>
          </div>
          <div class="gna-list-header-2">
            <button mat-raised-button color="primary"
                    class="gna-btn-default"
                    (click)="onGoToSave()">Créer Garantie</button>
          </div>
        </div>
        </div>
      </mat-card-header>
      @if (isLoadingResults || isRateLimitReached) {
        <div class="example-loading-shade">
          @if (isLoadingResults) {
            <mat-spinner></mat-spinner>
          }
          @if (isRateLimitReached) {
            <div class="example-rate-limit-reached">
              GNA API rate limit has been reached. It will be reset in one minute.
            </div>
          }
        </div>
      }



      <div class="container-fluid">

        <div class="example-table-container mt-4">
     <!--     <table class="gna-table">
            <thead>
            <tr>
              <th>Code garantie</th>
              <th>Nom garantie</th>
              <th>Prime minimum</th>
              <th>Taux de taxe</th>
              <th>Enregistrement</th>
              <th>Statut</th>
              <th></th>
            </tr>
            </thead>
            @defer (when dataPaginationResponse) {
              <tbody *ngIf="dataPaginationResponse && filteredList.length > 0">
                @for (element of filteredList; track element) {
                  <tr>
                    <td>
                      {{ element.code }}
                    </td>
                    <td>
                      {{ element.name }}
                    </td>
                    <td>
                      @if (element.premiumMinimum) {
                        {{ element.premiumMinimum | number : "2.0"}}
                      } @else {
                        0
                      }
                    </td>
                    <td>
                      @if (element.taxRate) {
                        {{ element.taxRate | number : "2.0"}}%
                      } @else {
                        0
                      }
                    </td>
                    <td>
                      {{ element.createdAt | date: 'dd-MM-YYYY'}} {{ element.createdAt | date: 'hh:mm:ss'}}
                    </td>
                    <td>
                      @if (element.enabled) {
                        @if (element.statusCode && element.statusCode === 1) {
                          <span class="gna-list-status">En Attente</span>
                        } @else {
                          <span class="gna-list-status">Désactivé</span>
                        }
                      } @else {
                        <span class="gna-list-status">Désactivé</span>
                      }
                    </td>
                    <td>
                     <span class="gna-action-span-div">
                     &lt;!&ndash; <span class="gna-action-span">
                        @if (element.removable) {
                          <img src="assets/images/table-trash.svg" alt="" class="gna-table-btn">
                        }
                  </span>&ndash;&gt;
                      <span class="gna-action-span">
                        <img src="assets/images/table-eye.svg" alt="" class="gna-table-btn"
                             (click)="onView(element)">
                        &lt;!&ndash;  <p-button icon="fa fa-eye" [rounded]="true" class="gna-btn-eye"
                                    pTooltip="Afficher"
                                    tooltipPosition="bottom"
                                    (click)="onView(element)"></p-button>&ndash;&gt;
                  </span>
                  <span class="gna-action-span">
                      <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn"
                           (click)="onViewEdit(element)">
                  </span>
                  </span>
                    </td>
                  </tr>
                } @empty {
            <tr>
              <td>
                <span class="gna-text-primary">Pas d'enregistrement disponible.</span>
              </td>
            </tr>
          }
              </tbody>
            }  @placeholder {
              <tbody>
                @for (item of fakeItems; track item) {
                  <tr>
                    <td><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></td>
                    <td><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></td>
                    <td><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></td>
                    <td><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></td>
                    <td><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></td>
                    <td><p-skeleton width="8rem" styleClass="mb-2"></p-skeleton></td>
                    <td>
                          <span class="gna-action-span-div-s">
                            <div class="row">
                              <div class="col">
                                <p-skeleton shape="circle" size="2rem"></p-skeleton>
                              </div>
                              <div class="col">
                                <p-skeleton size="2rem"></p-skeleton>
                              </div>
                            </div>
                          </span></td>
                  </tr>
                }
              </tbody>
            }

          </table>-->
          <table
            class="demo-table table table-striped"
            mat-table [dataSource]="dataSource"
            matSort matSortActive="code"
            matSortDisableClear
            matSortDirection="asc"
            (matSortChange)="announceSortChange($event)">
            <!-- Position Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef
                  mat-sort-header
              >Code Garantie</th>
              <td mat-cell *matCellDef="let element"
                  class="app-clickable">{{ element.code }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef
                  mat-sort-header>Nom Garantie</th>
              <td mat-cell *matCellDef="let element"
                  class="app-clickable">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="premiumMinimum">
              <th mat-header-cell *matHeaderCellDef
                  mat-sort-header>Prime Minimum</th>
              <td mat-cell *matCellDef="let element"
                  class="app-clickable">
                @if (element.premiumMinimum) {
                  {{ element.premiumMinimum | number : "2.0"}}
                } @else {
                  0
                }
              </td>
            </ng-container>

            <ng-container matColumnDef="taxRate">
              <th mat-header-cell *matHeaderCellDef
                  mat-sort-header>Taux Taxe</th>
              <td mat-cell *matCellDef="let element"
                  class="app-clickable">
                @if (element.taxRate) {
                  {{ element.taxRate | number : "2.0"}}
                } @else {
                  0
                }
              </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef
                  mat-sort-header>Enregistrement</th>
              <td mat-cell *matCellDef="let element"
                  class="app-clickable">
                  {{ element.createdAt | date: 'dd-MM-YYYY'}}
                {{ element.createdAt | date: 'hh:mm:ss'}}
              </td>
            </ng-container>


            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef
                  mat-sort-header>Statut</th>
              <td mat-cell *matCellDef="let element"
                  class="app-clickable">
                @if (element.enabled) {
                  @if (element.statusCode && element.statusCode === 1) {
                    <p-chip label="En Attente"></p-chip>
                  } @else {
                    <p-chip label="Désactivé" class="gna-chip-r"></p-chip>
                  }
                } @else {
                  <p-chip label="Désactivé" class="gna-chip-r"></p-chip>
                }
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
              </th>
              <td mat-cell *matCellDef="let element"
                  class="app-clickable">
                  <span class="gna-action-span-div">
                      <span class="gna-action-span">
                        @if (element.removable) {
                          <p-button icon="pi pi-trash" [rounded]="true"
                                    pTooltip="Supprimer"
                                    tooltipPosition="bottom"
                                    class="gna-btn-delete"
                                    [disabled]="isSave"
                                    (click)="onConfirm(element)"></p-button>
                        } @else {
                          <p-button icon="pi pi-trash" [rounded]="true"
                                    pTooltip="Supprimer"
                                    tooltipPosition="bottom"
                                    class="gna-btn-delete"
                          [disabled]="isDisable"></p-button>
                        }

                  </span>
                      <span class="gna-action-span">
                    <p-button icon="pi pi-eye" [rounded]="true" class="gna-btn-eye"
                              pTooltip="Afficher"
                              tooltipPosition="bottom"
                              (click)="onView(element)"></p-button>
                  </span>
                  <span class="gna-action-span">
                    <p-button icon="pi pi-pencil" class="gna-btn-edit"
                              pTooltip="Modifier"
                              tooltipPosition="bottom"
                              (click)="onViewEdit(element)"></p-button>
                  </span>
                  </span>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </div>
<!--        <div class="gna-pagination">
          @if (dataPaginationResponse) {
            @if (currentPage > 1) {
              <span class="gna-pagination-previous"
                    (click)="onGoToPrevious()">
              <i class="pi pi-arrow-left"></i>
            </span>
            } @else {
              <span class="gna-pagination-previous gna-pagination-disabled">
              <i class="pi pi-arrow-left"></i>
            </span>
            }
          @if (dataPaginationResponse.pageSize > 0) {
            <span class="gna-pagination-page">{{ currentPage }}</span>
          } @else {
            <span class="gna-pagination-page gna-pagination-disabled">0</span>
          }
          @if (currentPage < dataPaginationResponse.totalPages) {
            <span class="gna-pagination-next"
                  (click)="onGoToNext()">
             <i class="pi pi-arrow-right"></i>
          </span>
          } @else {
            <span class="gna-pagination-next gna-pagination-disabled">
             <i class="pi pi-arrow-right"></i>
          </span>
          }
          } @else {
            <span class="gna-pagination-previous gna-pagination-disabled"><i class="pi pi-arrow-left"></i></span>
            <span class="gna-pagination-page gna-pagination-disabled">0</span>
            <span class="gna-pagination-next gna-pagination-disabled"><i class="pi pi-arrow-right"></i></span>
          }
        </div>-->
       <mat-paginator
         [pageSizeOptions]="[5, 10, 20, 50, 100]"
          [length]="resultsLength"
          [pageSize]="pageSize"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </mat-card>
  </div>

</div>
