<div class="gna-bc">
  <span>Configuration des produits / Garanties</span>
</div>

<div class="container-fluid">

  <div>
    <mat-card class="gna-card">

      <mat-card-header class="gna-card-header">
        <div class="container-fluid">
        <div class="gna-list-header row">
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <span class="p-input-icon-left gna-full-width">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="dt.filterGlobal(getValue($event), 'contains')"
                      placeholder="Rechercher"
                           class="gna-full-width gna-list-ir"
                    [disabled]="isSave"/>
                      </span>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2">
            <button mat-raised-button color="primary"
                    class="gna-full-width gna-btn-default"
                    (click)="onGoToSave()"
            [disabled]="isSave">Créer Garantie</button>
          </div>
        </div>
        </div>
      </mat-card-header>
      @if (isLoadingResults || isRateLimitReached) {
        <div class="example-loading-shade">
          @if (isLoadingResults) {
            <mat-spinner></mat-spinner>
          }
          @if (isRateLimitReached) {
            <div class="example-rate-limit-reached">
              GNA API rate limit has been reached. It will be reset in one minute.
            </div>
          }
        </div>
      }

      <div class="container-fluid">

        <div class="example-table-container mt-4">

          <p-table
            #dt
            [value]="dataList"
                   styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '60rem' }"
                   [paginator]="false"
                   [rows]="10"
                   [first]="first"
                   [showCurrentPageReport]="true"
                   (onPage)="pageChange($event)"
                   [rowsPerPageOptions]="[5, 10, 20, 15, 30, 50, 100]"
            [globalFilterFields]="['code', 'name', 'premiumMinimum', 'taxRate']"
            [scrollable]="true">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="code" style="width:15%">
                  Code Garantie
                  <p-columnFilter type="text" field="code" display="menu" />
                </th>
                <th pSortableColumn="name" style="width:30%">Nom Garantie
                  <p-columnFilter type="text" field="name" display="menu" />
                </th>
                <th pSortableColumn="premiumMinimum" style="width:15%"
                    class="gna-responsive">Prime Minimum
                <p-columnFilter type="numeric" field="premiumMinimum" display="menu" />
                <th pSortableColumn="taxRate" style="width:10%"
                    class="gna-responsive">Taux Taxe
                <p-columnFilter type="numeric" field="taxRate" display="menu" />
                <th pSortableColumn="enabled" style="width:10%">Statut
                  <p-columnFilter field="enabled" matchMode="equals" display="menu">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                      <p-dropdown
                        [options]="statusList"
                        (onChange)="filter($event.value)"
                        placeholder="Statut"
                        [showClear]="true">
                        <ng-template let-option pTemplate="item">
                          <p-tag
                            [value]="option.label"
                            [severity]="getSeverity(option.value)" />
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th pSortableColumn="createdAt" style="width:20%" class="gna-responsive">Enregistrement
                <p-columnFilter type="date" field="createdAt" display="menu" />
                <th style="width:10%"></th>
              </tr>
            </ng-template>

                <ng-template pTemplate="body" let-element>
                  <tr>
                    <td>
                      {{ element.code }}
                    </td>
                    <td>
                      {{ element.name }}
                    </td>
                    <td class="gna-responsive">
                      @if (element.premiumMinimum) {
                        {{ element.premiumMinimum | number : "2.0"}}
                      } @else {
                        0
                      }
                    </td>
                    <td class="gna-responsive">
                      @if (element.taxRate) {
                        {{ element.taxRate | number : "2.0"}}%
                      } @else {
                        0
                      }
                    </td>
                    <td>
                      @if (element.enabled) {
                        @if (element.statusCode && element.statusCode === 1) {
                          <p-tag severity="warning" value="En Attente"></p-tag>
                        } @else {
                          <p-tag severity="danger" value="Désactivé"></p-tag>
                        }
                      } @else {
                        <p-tag severity="danger" value="Désactivé"></p-tag>
                      }
                    </td>
                    <td class="gna-responsive">
                      {{ element.createdAt | date: 'dd-MM-YYYY'}} {{ element.createdAt | date: 'hh:mm:ss'}}
                    </td>
                    <td>
                        <span class="gna-action-span-div">
                          <span class="gna-action-span">
                        @if (element.enabled) {
                          <p-inputSwitch [(ngModel)]="element.enabled"
                                         pTooltip="Désactiver"
                                         tooltipPosition="bottom"
                                         [disabled]="isSave"/>
                        } @else {
                          <p-inputSwitch [(ngModel)]="element.enabled"
                                         pTooltip="Activer"
                                         tooltipPosition="bottom"
                                         [disabled]="isSave"/>
                        }

                  </span>
                      <span class="gna-action-span">
                        @if (element.removable) {
                          <p-button icon="pi pi-trash"
                                    pTooltip="Supprimer"
                                    tooltipPosition="bottom"
                                    class="gna-btn-delete"
                                    [disabled]="isSave"
                                    (click)="onConfirm(element)"></p-button>
                        } @else {
                          <p-button icon="pi pi-trash"
                                    pTooltip="Supprimer"
                                    tooltipPosition="bottom"
                                    class="gna-btn-delete"
                                    [disabled]="isDisable"></p-button>
                        }

                  </span>
                      <span class="gna-action-span">
                    <p-button icon="pi pi-eye" class="gna-btn-eye"
                              pTooltip="Afficher"
                              tooltipPosition="bottom"
                              (click)="onView(element)"
                              [disabled]="isSave"></p-button>
                  </span>
                  <span class="gna-action-span">
                    <p-button icon="pi pi-pencil" class="gna-btn-edit"
                              pTooltip="Modifier"
                              tooltipPosition="bottom"
                              (click)="onViewEdit(element)"
                              [disabled]="isSave"></p-button>
                  </span>
                  </span>
                    </td>
                  </tr>

                </ng-template>

            <ng-template pTemplate="loadingbody">
              <tr>
                <td *ngFor="let item of fakeItems">
                <td><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton></td>
                <td><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></td>
                <td><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></td>
                <td><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></td>
                <td><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></td>
                <td><p-skeleton width="8rem" styleClass="mb-2"></p-skeleton></td>
              </tr>
            </ng-template>

          </p-table>

        </div>

        <div class="gna-pagination-row">

          <div class="gna-pagination">
            @if (dataPaginationResponse) {
              @if (dataPaginationResponse.pageSize > 0) {
            <span class="gna-pagination-page-size"
                  [matMenuTriggerFor]="aboveMenu"
                  [ngClass]="{'gna-pagination-disabled': isSave}">{{ pageSize }}
              <i class="pi pi-angle-up"></i></span>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
              @for (psl of pageSizeList; track psl) {
                <button mat-menu-item (click)="onGetPageSize(psl.name)"
                [disabled]="isSave">{{ psl.name }}</button>
              }
            </mat-menu>
              } @else {
              <span class="gna-pagination-page-size gna-pagination-disabled">0
                <i class="pi pi-angle-up"></i></span>
            }
            }
          </div>

          <div class="gna-pagination">
            @if (dataPaginationResponse) {
              @if (currentPage > 1) {
                <span class="gna-pagination-previous"
                      (click)="onGoToPrevious()"
                      [ngClass]="{'gna-pagination-disabled': isSave}">
              <i class="pi pi-arrow-left"></i>
            </span>
              } @else {
                <span class="gna-pagination-previous gna-pagination-disabled">
              <i class="pi pi-arrow-left"></i>
            </span>
              }
              @if (dataPaginationResponse.pageSize > 0) {
                <span class="gna-pagination-page"
                [ngClass]="{'gna-pagination-disabled': isSave}">{{ currentPage }}</span>
              } @else {
                <span class="gna-pagination-page gna-pagination-disabled">0</span>
              }
              @if (currentPage < dataPaginationResponse.totalPages) {
                <span class="gna-pagination-next"
                      (click)="onGoToNext()"
                      [ngClass]="{'gna-pagination-disabled': isSave}">
             <i class="pi pi-arrow-right"></i>
          </span>
              } @else {
                <span class="gna-pagination-next gna-pagination-disabled">
             <i class="pi pi-arrow-right"></i>
          </span>
              }
            } @else {
              <span class="gna-pagination-previous gna-pagination-disabled"><i class="pi pi-arrow-left"></i></span>
              <span class="gna-pagination-page gna-pagination-disabled">0</span>
              <span class="gna-pagination-next gna-pagination-disabled"><i class="pi pi-arrow-right"></i></span>
            }
          </div>

        </div>

      </div>
    </mat-card>
  </div>

</div>
