<div class="gna-bc">
  <span>Administration / Gestion des utilisateurs internes / Profils / Modifier</span>
</div>


<div class="container-fluid">

  <div>
    <mat-card class="gna-card">

      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-save gna-full-width gna-disable">Enregistrer</button>
              } @else {

                @if (!formProfile.valid) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onGetNotBlankAlert()">Enregistrer</button>

                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="openConfirmEdit()">Enregistrer</button>
                }
              }
            </div>

          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="container-fluid">


          <form
            [formGroup]="formProfile">
            <div class="row pb-2 gna-form">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="name">Nom
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>
                <input pInputText
                       type="text" id="name" aria-describedby="name-help" placeholder="Nom du profil" class="gna-form-input"
                       required
                       formControlName="name"/>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <label>Description</label>
                <textarea pInputTextarea formControlName="description"
                          class="gna-form-input"></textarea>
              </div>
            </div>
          </form>
          <div class="gna-profiles-table container-fluid m-2">


            <div class="row mb-2"
                 *ngFor="let fug of formUserGroupList">
              <!--   <form
                 [formGroup]="fug">
-->

              <div class="gna-pdh">
                <div>
                  {{ fug.label }}
                </div>
              </div>


              <div class="gna-pr container-fluid row">
                <ng-container *ngIf="fug && fug['roles'] && fug.roles.length > 0">

                  @for (role of fug["roles"]; track role) {
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <span class="gna-psh">{{ role.label }}</span>

                      <ng-container
                        *ngIf="role && role.permissions && role.permissions.length > 0">
                        @for (permission of role["permissions"]; track permission) {
                          <form
                            [formGroup]="permission['formPermission']">

                            <div class="row">
                              <div class="col-2 gna-pis-mr">
                                <p-inputSwitch
                                  formControlName="permissionStatus"
                                  [disabled]="isSave"/>
                              </div>
                              <div class="col-8">
                                {{ permission.label }}
                              </div>
                            </div>
                          </form>
                        }
                      </ng-container>

                    </div>
                  }

                </ng-container>
              </div>

              <!--                    </form>-->

            </div>

          </div>

        </div>
      </mat-card-content>

    </mat-card>
  </div>

</div>
