<div class="gna-main-content" xmlns="http://www.w3.org/1999/html">

  <div class="gna-content-header">
    <p-breadcrumb [model]="items" [home]="home" class="gna-breadcrumb"></p-breadcrumb>
  </div>

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="gna-card-header-title">
          Profil
        </div>
        <div class="gna-card-header-btn">
          <div class="gna-card-header-btn-1">

            <button mat-raised-button
                    class="gna-btn-default gna-btn-cancel"
                    (click)="onBack()"
                    [disabled]="isSave">Annuler</button>
          </div>
          <div class="gna-card-header-btn-2">
            <button mat-raised-button
                    class="gna-btn-default gna-btn-save"
                    (click)="openConfirmEdit()"
                    [disabled]="!formProfile.valid || isSave">Enregistrer</button>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="mt-4">

          <form
            [formGroup]="formProfile">
            <div class="row pb-2">
              <div class="col-4">
                <mat-form-field appearance="outline" class="example-full-width gna-mff">
                  <mat-label>Nom Profil</mat-label>
                  <input matInput
                         required
                         formControlName="name"
                         [readonly]="isSave">
                  <mat-error *ngIf="profileForm.name.invalid">{{getErrorMessageNane()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline" class="example-full-width gna-mff">
                  <mat-label>Type Utilisateur</mat-label>
                  <mat-select formControlName="userType">
                    @for (type of userTypes; track type) {
                      <mat-option [value]="type.value"
                                  [disabled]="isSave">{{type.viewValue}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4">
                <section class="example-section">
                  <label class="example-margin">Statut:</label>
                  <mat-radio-group formControlName="enabled">
                    <mat-radio-button class="example-margin" [value]="isActivated" color="primary"
                                      [disabled]="isSave">Activé</mat-radio-button>
                    <mat-radio-button class="example-margin" [value]="isDisabled" color="primary"
                                      [disabled]="isSave">Désactivé</mat-radio-button>
                  </mat-radio-group>
                </section>
              </div>
            </div>
          </form>
          <div class="gna-profiles-table container-fluid">

            <div class="row">

              <div class="col-3"
                   *ngFor="let fug of formUserGroupList">
                <!--   <form
                   [formGroup]="fug">
-->
                <div class="position-fixed">
                  <div class="gna-pdh">
                    <div>
                      <mat-icon>{{ fug.icon }}</mat-icon>
                    </div>
                    <div>
                      {{ fug.label }}
                    </div>
                  </div>
                </div>

                <div class="gna-pr container-fluid">
                  <ng-container *ngIf="fug && fug['roles'] && fug.roles.length > 0">

                    @for (role of fug["roles"]; track role) {
                      <div>
                        <span class="gna-psh">{{ role.label }}</span>

                        <ng-container
                          *ngIf="role && role.permissions && role.permissions.length > 0">
                          @for (permission of role["permissions"]; track permission) {
                            <form
                              [formGroup]="permission['formPermission']">

                              <div class="row">
                                <div class="col-2 gna-pis-mr">
                                  <p-inputSwitch formControlName="permissionStatus"></p-inputSwitch>
                                </div>
                                <div class="col-8">
                                  {{ permission.label }}
                                </div>
                              </div>
                            </form>
                          }
                        </ng-container>

                      </div>
                    }

                  </ng-container>
                </div>

                <!--                    </form>-->

              </div>

            </div>


          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

</div>
