
<ng-container *ngIf="currentSelectedTag">


  <div class="form-builder-field-header">
   <span>
     {{ currentSelectedTag.stepLabel }} | {{ currentSelectedTag.questionLabel }}
   </span> <br>
    <span *ngIf="currentSelectedTag.fieldTag">
      Paramétrage du champs : {{ currentSelectedTag.fieldTag.title }}
    </span>
  </div>


  <div mat-dialog-content class="form-builder-field-body">
    <form [formGroup]="inputForm">

      <div class="row">
        <div class="col-12">
          <label for="label">
            Label
          </label>
          <input pInputText
                 type="text" id="label" class="gna-form-input"
                 formControlName="label"/>
        </div>

        <div class="col-12 mt-2">
          <label for="placeholder">
            Placeholder
          </label>
          <input pInputText
                 type="text" id="placeholder" class="gna-form-input"
                 formControlName="placeholder"/>
        </div>

        <div class="col-12 mt-2">
          <label for="maxlength">Maxlength</label>
          <input pInputText
                 type="number" id="maxlength" class="gna-form-input"
                 formControlName="maxlength"/>
        </div>

        <div class="col-12 mt-2">
          <label for="minlength">Minlength</label>
          <input pInputText
                 type="number" id="minlength" class="gna-form-input"
                 required
                 formControlName="minlength"/>
        </div>

        <div class="col-12 mt-2">
          <label for="required" class="label-mr">Required</label>
          <p-checkbox id="required" formControlName="required" [binary]="true"
                      class="gna-form-checkbox"></p-checkbox>
        </div>

      </div>

    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="false" color="primary" class="gna-fb-btn">Fermer</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" class="gna-fb-btn">Enregistrer</button>
  </div>


</ng-container>
