

  <div class="gna-dialog-logo">
    <img src="assets/gna/images/gna-logo.png">
  </div>
<div mat-dialog-content>
  <p class="text-danger text-center">
    <mat-icon>error</mat-icon>
  </p>

  @if (httpError && httpError.error && httpError.error.detail)  {
    <div
      class="text-center">
      <h5 class="gna-text-secondary">
        {{ httpError.error.detail }}
      </h5>
    </div>
  } @else {
    <div
      *ngIf="!httpError && dialogMessage || httpError && httpError.error && !httpError.error.message && dialogMessage"
      class="text-center">
      <h5 class="gna-text-secondary">
        {{ dialogMessage }}
      </h5>
    </div>

    <div
      *ngIf="httpError && httpError.error &&  httpError.error.message"
      class="text-center">
      <h5 class="gna-text-secondary">
          <span>
        {{ httpError.error.message }}
      </span>
      </h5>
    </div>
  }

  <div class="gna-dialog-bar">
  </div>
  <div class="text-center" style="color: #717171; font-size: 12px">
    Vous pouvez cliquer sur le buton OK pour continuer vos actions d'enregistrement.
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" class="gna-btn-default-2">OK</button>
</div>

