<div class="gna-bc">
  <span>Gestion des souscriptions / Demandes / Rejetées / Voir</span>
</div>



<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave">Retour</button>
              }

            </div>

          </div>
        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="container-fluid">
          <div class="mt-4">
            <div class="card">
              <div class="card-body gna-card-body"
                   *ngIf="elementData">

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Partenaire : </span>
                    <span class="gna-view-value">

                  @if (elementData.partnerName) {
                    {{ elementData.partnerName }}
                  } @else {
                    N/A
                  }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Numéro de compte : </span>
                    <span class="gna-view-value">

                  @if (elementData.subscriberCode) {
                    {{ elementData.subscriberCode }}
                  } @else {
                    N/A
                  }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Type Souscripteur : </span>
                    <span class="gna-view-value">
                 @if (elementData.subscriberTypeName) {
                   {{ elementData.subscriberTypeName }}
                 } @else {
                   N/A
                 }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Nom Souscripteur : </span>
                    <span class="gna-view-value">

                  @if (elementData.subscriberName) {
                    {{ elementData.subscriberName }}
                  } @else if (elementData.subscriberParticularFirstName) {
                    {{ elementData.subscriberParticularFirstName }} {{ elementData.subscriberParticularLastName }}
                  } @else if (elementData.subscriberCompanyName) {
                    {{ elementData.elementData.subscriberCompanyName }}
                  } @else {
                    N/A
                  }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Téléphone Souscripteur : </span>
                    <span class="gna-view-value">
                 @if (elementData.subscriberPhone) {
                   {{ elementData.subscriberPhone }}
                 } @else {
                   N/A
                 }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Email Souscripteur : </span>
                    <span class="gna-view-value">
                 @if (elementData.subscriberEmail) {
                   {{ elementData.subscriberEmail }}
                 } @else {
                   N/A
                 }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Numéro Assuré : </span>
                    <span class="gna-view-value">
                 @if (elementData.insuredCode) {
                   {{ elementData.insuredCode }}
                 } @else {
                   N/A
                 }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Type Assuré : </span>
                    <span class="gna-view-value">
                 @if (elementData.insuredTypeName) {
                   {{ elementData.insuredTypeName }}
                 } @else {
                   N/A
                 }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Nom Assuré : </span>
                    <span class="gna-view-value">
                    @if (elementData.insuredName) {
                      {{ elementData.insuredName }}
                    } @else {
                      N/A
                    }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Numéro de police : </span>
                    <span class="gna-view-value">
                    @if (elementData.policyCode ) {
                      {{ elementData.policyCode }}
                    } @else {
                      N/A
                    }
                  </span>
                  </div>


                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Groupe : </span>
                    <span class="gna-view-value">
                    @if (elementData.productGroupName ) {
                      {{ elementData.productGroupName }}
                    } @else {
                      N/A
                    }
                  </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Produit : </span>
                    <span class="gna-view-value">
                    @if (elementData.productName ) {
                      {{ elementData.productName }}
                    } @else {
                      N/A
                    }
                  </span>
                  </div>


                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">SMP : </span>
                    <span class="gna-view-value">
                    0
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Capitaux : </span>
                    <span class="gna-view-value">
                       @if (elementData.capital) {
                         {{ elementData.capital | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr'}}
                       } @else {
                         0
                       }
                  </span>

                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Montant de la prime : </span>
                    <span class="gna-view-value">
                       @if (elementData.premium) {
                         {{ elementData.premium | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr'}}
                       } @else {
                         0
                       }
                  </span>
                  </div>


                </div>

                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Statut : </span>
                    <p-tag severity="danger" value="Rejeté"></p-tag>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Enregistrement : </span>
                    @if (elementData.createdAt) {
                      {{ elementData.createdAt | date: 'dd-MM-YYYY'}} {{ elementData.createdAt | date: 'HH:mm:ss'}}
                    } @else  {
                      N/A
                    }
                  </div>
                </div>


              </div>
            </div>

            <div *ngIf="elementData && elementData.quotes && elementData.quotes.length > 0 && elementData.quotes[0].guarantees && elementData.quotes[0].guarantees.length > 0">
              <table class="table table-borderless gi-table mt-2">
                <thead>
                <tr>
                  <th>Garantie</th>
                  <th>Capitaux</th>
                  <th>Taux Franchise</th>
                  <th>Franchise Minimum</th>
                  <th>Franchise Maximum</th>
                  <th>Prime</th>
                </tr>
                </thead>
                <tbody>
                  @for (item of elementData.quotes[0].guarantees; track item) {
                    <tr>
                      <td>
                        @if(item.guaranteeName) {
                          {{ item.guaranteeName }}
                        } @else {
                          N/A
                        }
                      </td>
                      <td>
                        @if(item.guaranteeCapital) {
                          {{ item.guaranteeCapital | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr'}}
                        } @else {
                          0
                        }
                      </td>
                      <td>
                        @if(item.guaranteeFranchiseRate) {
                          {{ item.guaranteeFranchiseRate | number: "2.0" }}%
                        } @else {
                          0%
                        }
                      </td>
                      <td>
                        @if (item.guaranteeFranchiseMinimum) {
                          {{ item.guaranteeFranchiseMinimum | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr' }}
                        } @else {
                          0
                        }
                      </td>
                      <td>
                        @if (item.guaranteeFranchiseMaximum) {
                          {{ item.guaranteeFranchiseMaximum | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr' }}
                        } @else {
                          0
                        }
                      </td>
                      <td>
                        @if (item.guaranteePremium) {
                          {{ item.guaranteePremium | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr'}}
                        } @else {
                          0
                        }
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>

            <div *ngIf="elementData && elementData.contracts && elementData.contracts.length > 0
            && elementData.contracts[0].beneficiaries && elementData.contracts[0].beneficiaries.length > 0">
              <table class="table table-borderless gi-table mt-2">
                <thead>
                <tr>
                  <th>Bénéficiaire</th>
                  <th>Part</th>
                  <th>Téléphone</th>
                </tr>
                </thead>
                <tbody>
                  @for (item of elementData.contracts[0].beneficiaries; track item) {
                    <tr>
                      <td>
                        @if(item.name) {
                          {{ item.name }}
                        } @else {
                          N/A
                        }
                      </td>
                      <td>
                        @if(item.part) {
                          {{ item.part | number: "2.0" }}%
                        } @else {
                          0%
                        }
                      </td>
                      <td>
                        @if (item.phone) {
                          {{ item.phone }}
                        } @else {
                          N/A
                        }
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>

            <div class="row"
                 *ngIf="elementData && elementData.coInsurances || elementData && elementData.reInsurances">

              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngIf="elementData && elementData.coInsurances && elementData.coInsurances.length > 0">
                <table class="table table-borderless gi-table mt-2">
                  <thead>
                  <tr>
                    <th>Coassureur</th>
                    <th>Taux</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    @for (item of elementData.coInsurances; track item) {
                      <tr>
                        <td>
                          @if(item.companyName) {
                            {{ item.companyName }}
                          } @else {
                            N/A
                          }
                        </td>
                        <td>
                          @if(item.rate) {
                            {{ item.rate | number: "2.0" }}%
                          } @else {
                            0%
                          }
                        </td>
                        <td>
                          @if (item.statusCode) {
                            {{ item.statusText }}
                          } @else {
                            N/A
                          }
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8" *ngIf="elementData && elementData.reInsurances && elementData.reInsurances.length > 0">
                <table class="table table-borderless gi-table mt-2">
                  <thead>
                  <tr>
                    <th>Réassureur</th>
                    <th>Part conservée</th>
                    <th>Part du traité</th>
                    <th>Besoin fac</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    @for (item of elementData.reInsurances; track item) {
                      <tr>
                        <td>
                          @if(item.companyName) {
                            {{ item.companyName }}
                          } @else {
                            N/A
                          }
                        </td>
                        <td>
                          @if(item.partRetained) {
                            {{ item.partRetained | number: "2.0" }}%
                          } @else {
                            0%
                          }
                        </td>
                        <td>
                          @if(item.partTreaty) {
                            {{ item.partTreaty | number: "2.0" }}%
                          } @else {
                            0%
                          }
                        </td>
                        <td>
                          @if(item.needFac) {
                            {{ item.needFac | number: "2.0" }}%
                          } @else {
                            0%
                          }
                        </td>
                        <td>
                          @if (item.statusCode) {
                            {{ item.statusText }}
                          } @else {
                            N/A
                          }
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>

            </div>

            <div class="row gna-files mb-3">

              <span class="gna-files-underline">Pièces jointes</span>
              <div class="gna-table-files-row">

                <div>
                  <span class="gna-element-file-name">Contrat</span> <br>
                  N/A
                </div>

                <div>
                  <span class="gna-element-file-name">Devis</span> <br>
                  @if (elementData.quotes && elementData.quotes.length > 0 && elementData.quotes[0].file) {
                    <a href="{{ elementData.quotes[0].file.url }}" download target="_blank">
                      <img src="assets/svg/files/pdf-svgrepo-com.svg" alt="{{ elementData.quotes[0].file.label }}" class="gna-element-file gna-clickable">
                    </a>

                  } @else {
                    N/A
                  }
                </div>


                @if (elementData.attachments && elementData.attachments.length > 0) {
                  <div
                    *ngFor="let attachment of elementData.attachments">

                    <span class="gna-element-file-name">{{ attachment.label }}</span> <br>

                    @if (attachment.type == "image/jpeg" ) {
                      <a href="{{ attachment.url }}" download target="_blank">
                        <img src="assets/svg/files/jpg-svgrepo-com.svg" alt="{{ attachment.label }}" class="gna-element-file gna-clickable">
                      </a>
                    } @else if (attachment.type == "image/png") {
                      <a href="{{ attachment.url }}" download target="_blank">
                        <img src="assets/svg/files/png-svgrepo-com.svg" alt="{{ attachment.label }}" class="gna-element-file gna-clickable">
                      </a>
                    } @else if (attachment.type == "pdf") {
                      <a href="{{ attachment.url }}" download target="_blank">
                        <img src="assets/svg/files/pdf-svgrepo-com.svg" alt="{{ attachment.label }}" class="gna-element-file gna-clickable">
                      </a>
                    } @else if (attachment.type == "doc") {
                      <a href="{{ attachment.url }}" download target="_blank">
                        <img src="assets/svg/files/word-svgrepo-com.svg" alt="{{ attachment.label }}" class="gna-element-file gna-clickable">
                      </a>
                    } @else {
                      <a href="{{ attachment.url }}" download target="_blank">
                        <img src="assets/svg/files/pdf-svgrepo-com.svg" alt="{{ attachment.label }}" class="gna-element-file gna-clickable">
                      </a>
                    }

                  </div>
                }

              </div>

            </div>

          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
