<div class="gna-bc">
  <span>Marketing / Produits / Voir</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour
                </button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour
                </button>
              }

            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-full-width gna-disable">Modifier
                </button>
              } @else {

                <button mat-raised-button
                        color="primary"
                        class="gna-btn-default gna-full-width"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                        (click)="onViewEdit()">Modifier
                </button>
              }
            </div>

            <!--<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-save gna-full-width gna-disable">Soumettre</button>
              } @else {

                @if (!formData.valid) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onGetNotBlankAlert()">Soumettre</button>

                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onConfirm()">Soumettre</button>
                }
              }
            </div>-->

          </div>
        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="container-fluid">
          <div class="mt-4">
            <div class="card">
              <div class="card-body gna-card-body"
                   *ngIf="productData">

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Statut : </span>
                    @if (productData.statusCode && productData.statusCode === 10) {
                      <p-tag severity="warning" value="Enregistré"></p-tag>
                    } @else if (productData.statusCode && productData.statusCode === 11) {
                      <p-tag severity="success" value="Validé"></p-tag>
                    } @else if (productData.statusCode && productData.statusCode === 12) {
                      <p-tag severity="success" value="Approuvé"></p-tag>
                    }
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Etat : </span>
                    @if (productData.enabled) {
                      <p-tag severity="success" value="Activé"></p-tag>
                    } @else {
                      <p-tag severity="danger" value="Désactivé"></p-tag>
                    }
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Enregistrement : </span>
                    @if (productData.createdAt) {
                      {{ productData.createdAt | date: 'dd-MM-YYYY' }} {{ productData.createdAt | date: 'hh:mm:ss' }}
                    } @else {
                      N/A
                    }
                  </div>
                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 mt-2 mb-2">
                    <span class="gna-view-value">
                     @if (productData.image) {
                       <p-image src="{{ productData.image.url }}" alt="Product Image" width="150" height="150"
                                [preview]="true"></p-image>
                     } @else {
                       <img src="assets/gna/images/gna-logo.png" alt="Product Image" width="150" height="150">
                     }
                  </span>
                  </div>


                  <div class="col-12 col-sm-6 col-md-10 col-lg-10 col-xl-10">
                    <div class="row">

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label">Code Produit : </span>
                        <span class="gna-view-value">
                    @if (productData.code) {
                      {{ productData.code }}
                    } @else {
                      N/A
                    }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label">Nom Produit : </span>
                        <span class="gna-view-value">
                    @if (productData.name) {
                      {{ productData.name }}
                    } @else {
                      N/A
                    }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Groupe Produit : </span>
                        <span class="gna-view-value">
                       @if (productData.group) {
                         {{ productData.group.name }}
                       } @else {
                         N/A
                       }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Segment : </span>
                        <span class="gna-view-value">
                       @if (productData.segment) {
                         {{ productData.segment.name }}
                       } @else {
                         N/A
                       }
                  </span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Types d'assurés : </span>
                        <span class="gna-view-value">
                       @if (productData.insuredTypes && productData.insuredTypes.length > 0) {
                         @for (insuredType of productData.insuredTypes; track insuredType) {
                           <p-chip><span>{{ insuredType.libelle }}</span></p-chip> <span class="span-mr"></span>
                         }
                       } @else {
                         N/A
                       }
                  </span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Nombre Maximum Souscriptions: </span>
                        <span class="gna-view-value">
                       @if (productData.numberSubscriptions) {
                         {{ productData.numberSubscriptions | number : "2.0" }}
                       } @else {
                         N/A
                       }
                  </span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label">Renouvelable : </span>
                        <span class="gna-view-value">
                       @if (productData.renewable) {
                         Oui
                       } @else {
                         Non
                       }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label">Tacite Reconduction : </span>
                        <span class="gna-view-value">
                       @if (productData.tacitAgreement) {
                         Oui
                       } @else {
                         Non
                       }
                  </span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Montant Accessoires Compagnie : </span>
                        <span class="gna-view-value">
                       @if (productData.accessoryAmountCompany) {
                         {{ productData.accessoryAmountCompany | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr' }}
                       } @else {
                         N/A
                       }
                  </span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Taux Cash-Back : </span>
                        <span class="gna-view-value">
                       @if (productData.cashBackRate) {
                         {{ productData.cashBackRate | number : "2.0" }}%
                       } @else {
                         N/A
                       }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Taux Réduction Commerciale : </span>
                        <span class="gna-view-value">
                       @if (productData.commercialDiscountRate) {
                         {{ productData.commercialDiscountRate | number : "2.0" }}%
                       } @else {
                         N/A
                       }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Taux Majoration Prime : </span>
                        <span class="gna-view-value">
                       @if (productData.premiumIncreaseRate) {
                         {{ productData.premiumIncreaseRate | number : "2.0" }}%
                       } @else {
                         N/A
                       }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Taux Réduction Cross Selling : </span>
                        <span class="gna-view-value">
                       @if (productData.crossSellingDiscountRate) {
                         {{ productData.crossSellingDiscountRate | number : "2.0" }}%
                       } @else {
                         N/A
                       }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label">Code Produit Cross Selling : </span>
                        <span class="gna-view-value">
                    @if (productData.crossSellingProductCode) {
                      {{ productData.crossSellingProductCode }}
                    } @else {
                      N/A
                    }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Points de fidélité : </span>
                        <span class="gna-view-value">
                       @if (productData.loyaltyPoints) {
                         {{ productData.loyaltyPoints | number : "2.0" }}
                       } @else {
                         N/A
                       }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label">Validation Back-Office : </span>
                        <span class="gna-view-value">
                       @if (productData.backOfficeValidation) {
                         Oui
                       } @else {
                         Non
                       }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Seuil Validation Back-Office Capitaux : </span>
                        <span class="gna-view-value">
                           @if (productData.backOfficeValidation) {
                       @if (productData.backOfficeValidationCapital) {
                         {{ productData.backOfficeValidationCapital  | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr'}}
                       } @else {
                         N/A
                       }
                       } @else {
                             N/A
                           }
                  </span>
                      </div>

                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span class="gna-view-label"> Seuil Validation Back-Office Prime: </span>
                        <span class="gna-view-value">
                           @if (productData.backOfficeValidation) {
                             @if (productData.backOfficeValidationPremium) {
                               {{ productData.backOfficeValidationPremium  | currency: 'XOF' : 'symbol' : '3.2-2' : 'fr'}}
                             } @else {
                               N/A
                             }
                           } @else {
                             N/A
                           }
                  </span>
                      </div>

                    </div>

                  </div>


                  <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                    <span class="gna-view-label"> Description : </span>
                    <span class="gna-view-value">
                       @if (productData.description) {
                         {{ productData.description }}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                    <div class="gna-view-label text-center"> Clauses Commerciales</div>
                    <span class="gna-view-value">
                       @if (productData.clauses) {
                         <div [innerHTML]="productData.clauses"></div>
                       } @else {
                         <div>N/A</div>
                       }
                  </span>
                  </div>

                </div>


              </div>
            </div>

            <div *ngIf="productData && productData.partnerSubscriptions && productData.partnerSubscriptions.length > 0">
              <table class="table table-borderless gi-table mt-2">
                <thead>
                <tr>
                  <th>Code Partenaire Commercial</th>
                  <th>Nom Partenaire Commercial</th>
                  <th>Montant Forfaitaire Accessoires</th>
                  <th>Taux Taxe Accessoires</th>
                  <th>Taux Commission</th>
                  <th>Code Parainage</th>
                </tr>
                </thead>
                <tbody>
                  @for (item of productData.partnerSubscriptions; track item) {
                    <tr>
                      <td>{{ productData.code }}</td>
                      <td>{{ productData.name }}</td>
                      <td>
                            <span *ngIf="item.accessoryAmount">
                              {{ item.accessoryAmount | number : "2.0" }}
                            </span>
                      </td>
                      <td>
                           <span *ngIf="item.accessoryTaxRate">
                             {{ item.accessoryTaxRate | number : "2.0" }}%
                           </span>
                      </td>
                      <td>
                           <span *ngIf="item.commissionRate">
                             {{ item.commissionRate | number : "2.0" }}%
                           </span>
                      </td>
                      <td>{{ item.sponsorshipCode }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
