<header>

  <nav class="navbar navbar-expand-lg navbar-dark gna-navbar fixed-top">

    <div class="container-fluid gna-footer">


    </div>

  </nav>

</header>
<main class="flex-shrink-0">


  <div class="container login-container">
    <div class="login-form">


      <div class="text-center">
        <img src="assets/gna/images/gna-logo.png" alt="" width="150">
      </div>

      <div class="row">

        <div class="col">

          <mat-stepper linear #stepper [disableRipple]="true">

            <mat-step [stepControl]="firstFormGroup" [editable]="false" [optional]="false">
              <ng-template matStepLabel>Vérification Email</ng-template>
              <form [formGroup]="firstFormGroup"
                    (ngSubmit)="onVerifiedEmail()">
                <div class="row">
                  <div class="col-5">
                    <p class="gna-text-primary gna-text-bold">Veuillez entrer votre email pour vérifier votre compte.</p>
                    <div>
                      <img src="assets/images/undraw_Web_developer_re_h7ie.png" alt="" width="300">
                    </div>
                  </div>
                  <div class="col-5">
                    <br>
                    <mat-form-field appearance="outline">
                      <mat-label>Adresse email</mat-label>
                      <input matInput formControlName="email" required
                      [readonly]="auth.loading">
                    </mat-form-field>
                    <div>
                      <!-- <button mat-button matStepperNext>Next</button>-->
                      <button mat-raised-button color="accent" class="btn-mr btn-tw"
                              routerLink="/login">
                        Annuler
                      </button>
                      <button mat-raised-button color="primary"
                              [disabled]="!firstFormGroup.valid || auth.loading">Vérifier</button>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup" [editable]="false" [optional]="false" readonly>
              <ng-template matStepLabel>Vérification OTP</ng-template>
              <form [formGroup]="secondFormGroup"
                    (ngSubmit)="onValidatedOtp()"
              *ngIf="otpToken && isStep1">
                <div class="row">
                  <div class="col-5">
                    <p class="gna-text-primary gna-text-bold">Veuillez entrer le code OTP reçu par email.</p>
                    <div>
                      <img src="assets/images/undraw_subscribe_vspl.png" alt="" width="300">
                    </div>
                  </div>
                  <div class="col-7">
                    <br>
                    <div class="gna-otp-div">
                      <mat-form-field appearance="outline" class="gna-otp-input">
                        <input matInput formControlName="code1"
                               type="text" maxlength="1" pattern="\d" required style="text-align: center;"
                               #otp1 (keyup)="moveOTP($event, '', otp1, otp2)">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="gna-otp-input">
                        <input matInput formControlName="code2"
                               type="text" maxlength="1" pattern="\d" required style="text-align: center;"
                               #otp2 (keyup)="moveOTP($event, otp1, otp2, otp3)">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="gna-otp-input">
                        <input matInput formControlName="code3"
                               type="text" maxlength="1" pattern="\d" required style="text-align: center;"
                               #otp3 (keyup)="moveOTP($event, otp2, otp3, otp4)">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="gna-otp-input">
                        <input matInput formControlName="code4"
                               type="text" maxlength="1" pattern="\d" required style="text-align: center;"
                               #otp4 (keyup)="moveOTP($event, otp3, otp4, otp5)">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="gna-otp-input">
                        <input matInput formControlName="code5"
                               type="text" maxlength="1" pattern="\d" required style="text-align: center;"
                               #otp5 (keyup)="moveOTP($event, otp4, otp5, otp6)">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="gna-otp-input">
                        <input matInput formControlName="code6"
                               type="text" maxlength="1" pattern="\d" required style="text-align: center;"
                               #otp6 (keyup)="moveOTP($event, otp5, otp6, '')">
                      </mat-form-field>
                    </div>

                    <div>
                      <button mat-raised-button color="accent" class="btn-mr btn-tw"
                              routerLink="/login">
                        Annuler
                      </button>
                      <button mat-raised-button color="primary">Vérifier</button>
                    </div>
                  </div>
                </div>

              </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup" [editable]="false" [optional]="false">
              <ng-template matStepLabel>Modification Mot de passe</ng-template>
              <form [formGroup]="thirdFormGroup"
                    (ngSubmit)="openChangePassword()"
                    *ngIf="otpToken && otpCode && isStep1 && isStep2">
                <div class="row">
                  <div class="col-5">
                    <p class="gna-text-primary gna-text-bold">Veuillez entrer votre nouveau mot de passe.</p>
                    <div>
                      <img src="assets/images/undraw_Forgot_password_re_hxwm.png" alt="" width="300">
                    </div>
                  </div>
                  <div class="col-7">
                    <br>
                    <div class="row">
                      <mat-form-field appearance="outline">
                        <mat-label>Nouveau mot de passe</mat-label>
                        <input matInput formControlName="passwordNew"  required
                               [type]="hideNew? 'password' : 'text'"
                               (keyup)="onPasswordCompare()"
                               [readonly]="accountService.pageLoading || isSave">
                        <mat-icon matSuffix (click)="hideNew = !hideNew" color="primary">{{hideNew ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="profileFormPwd.passwordNew.invalid" class="mb-3">{{getErrorMessagePasswordNew()}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="row mt-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Confirmer nouveau mot de passe</mat-label>
                        <input matInput formControlName="passwordConfirm"  required
                               [type]="hideConfirm? 'password' : 'text'"
                               (keyup)="onPasswordCompare()"
                               [readonly]="accountService.pageLoading || isSave">
                        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm" color="primary">{{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="profileFormPwd.passwordConfirm.invalid">{{getErrorMessagePasswordConfirm()}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="mt-2">
                      <button mat-raised-button color="accent" class="btn-mr btn-tw"
                              routerLink="/login">
                        Annuler
                      </button>
                      <button mat-raised-button color="primary"
                              [disabled]="!thirdFormGroup.valid || accountService.pageLoading || isSave">Modifier</button>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>

          </mat-stepper>

        </div>


      </div>

    </div>

  </div>

</main>
<footer>

  <nav class="navbar navbar-expand-lg navbar-dark gna-navbar fixed-bottom">

    <div class="container-fluid">

      <div class="gna-footer">
        <div class="container text-center">
          <br>
          <span class="login-text-footer">
          <a href="https://gna.ci/" target="_blank">Génération Nouvelle d'Assurance</a> © 2024</span>
        </div>
      </div>

    </div>

  </nav>

</footer>

