<div class="gna-bc">
  <span>Marketing / Produits / Créer</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="gna-card-header-btn row">
          <div class="col-12 col-sm-6">
            <button mat-raised-button
                    class="gna-btn-default gna-btn-cancel"
                    (click)="onBack()"
                    [disabled]="isSave || accountService.pageLoading || accountService.isSave">Annuler</button>
          </div>
          <div class="col-12 col-sm-6">
            @if (!formData.valid) {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      (click)="onGetNotBlankAlert()">Enregistrer</button>
            } @else {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                      (click)="onConfirm()">Enregistrer</button>
            }
          </div>

        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="mt-3 gna-card-tab"></div>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active"
               id="pills-home-tab"
               data-bs-toggle="pill"
               data-bs-target="#pills-home"
               type="button" role="tab"
               aria-current="page"
               aria-controls="pills-home"
               aria-selected="true">Produit</a>
          </li>
          <li class="nav-item gna-nav-tabs-2">
            <a class="nav-link"
               id="pills-profile-tab"
               data-bs-toggle="pill"
               data-bs-target="#pills-partners"
               type="button" role="tab"
               aria-controls="pills-partners"
               aria-selected="false">Partenaires</a>
          </li>
        </ul>

        <div class="gna-card-tab-item">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

              <div class="container-fluid">
                <form
                  [formGroup]="formData">
                  <div class="row pb-2 gna-form">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2">
                      @if (productImageUrl) {
                        <p-image src="{{ productImageUrl }}" alt="Product Image" width="50" height="30"></p-image>
                      } @else {
                        <label for="name">Image produit</label>
                      }
                      <div class="input-group mt-2">
                        <input type="file" accept="image/*" class="form-control"
                               id="productImageFile">
                      </div>
                      <small class="gna-text-red"
                             *ngIf="imageErrorMessage">{{ imageErrorMessage }}</small>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Nom produit</label>
                      <input pInputText
                             type="text" id="name" aria-describedby="name-help" placeholder="Nom Produit *" class="gna-form-input"
                             required
                             formControlName="name"
                             [readonly]="isSave || accountService.pageLoading || accountService.isSave"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <label>Groupe produit</label>

                        <p-dropdown [options]="productGroupList"
                                    optionLabel="name"
                                    emptyMessage="Aucun résultat trouvé"
                                    placeholder="Groupe produit *"
                                    class="gna-form-dropdown"
                                    formControlName="group"
                                    [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                          <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center gap-2">
                              <div>{{ group.name }}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                        </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Segement</label>
                      <p-dropdown [options]="segmentList"
                                  optionLabel="name"
                                  emptyMessage="Aucun résultat trouvé"
                                  placeholder="Segment *"
                                  class="gna-form-dropdown"
                                  formControlName="segment"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                        <ng-template let-item pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ item.name }}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Renouvelable</label>
                      <p-dropdown
                        emptyMessage="Aucun résultat trouvé"
                        formControlName="renewable" [options]="yesOrNoList" optionLabel="name" placeholder="Renouvelable *"
                                  class="gna-form-dropdown"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Tacite reconduction</label>
                      <p-dropdown formControlName="tacitAgreement" [options]="yesOrNoList"
                                  emptyMessage="Aucun résultat trouvé"
                                  optionLabel="name" placeholder="Tacite reconduction *"
                                  class="gna-form-dropdown"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="cashBackRate">Taux de cash-back %</label>
                      <input pInputText pKeyFilter="money"
                             id="cashBackRate" aria-describedby="accessory-amount-intermediate-help" placeholder="Taux de cash-back" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             formControlName="cashBackRate"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="cashBackRate">Taux de réduction commerciale %</label>
                      <input pInputText pKeyFilter="money"
                             id="commercialDiscountRate" aria-describedby="accessory-amount-intermediate-help" placeholder="Taux de réduction commerciale" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             formControlName="commercialDiscountRate"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="cashBackRate">Taux de majoration de la prime %</label>
                      <input pInputText pKeyFilter="money"
                             id="premiumIncreaseRate" aria-describedby="accessory-amount-intermediate-help" placeholder="Taux de majoration de la prime" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             formControlName="premiumIncreaseRate"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Code produit cross selling</label>
                      <input pInputText
                             type="text" id="crossSellingProductCode" aria-describedby="name-help" placeholder="Code produit cross selling" class="gna-form-input"
                             formControlName="crossSellingProductCode"
                             [readonly]="isSave || accountService.pageLoading || accountService.isSave"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="cashBackRate">Taux de réduction cross selling %</label>
                      <input pInputText pKeyFilter="money"
                             id="crossSellingDiscountRate" aria-describedby="accessory-amount-intermediate-help" placeholder="Taux de réduction cross selling" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             formControlName="crossSellingDiscountRate"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="cashBackRate">Point de fidélité</label>
                      <input pInputText pKeyFilter="num"
                             id="loyaltyPoint" aria-describedby="accessory-amount-intermediate-help"
                             placeholder="Point de fidélité" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             formControlName="loyaltyPoint"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Incentives client</label>
                      <p-multiSelect [options]="incentiveList"
                                     optionLabel="name"
                                     emptyMessage="Aucun résultat trouvé"
                                     placeholder="Incentives client"
                                     class="gna-form-multiselect"
                                     formControlName="incentives"
                                     [filter]="false"
                                     [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                        <ng-template let-item pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ item.name }}</div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Objet publi</label>
                      <p-dropdown formControlName="advertisementObject"
                                  emptyMessage="Aucun résultat trouvé"
                                  [options]="yesOrNoList" optionLabel="name" placeholder="Objet publi"
                                  class="gna-form-dropdown"
                                  #advertisementObject
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Fichier objet publi</label>
                      <!-- <input pInputText
                              type="text" id="advertisementObject" aria-describedby="name-help" placeholder="Fichier objet publi" class="gna-form-input"/>-->
                      <div class="input-group mt-2">
                        <input type="file"
                               accept=".jpg, .jpeg, .png, .pdf, .doc, .docx, .xls, .xlsx"
                               id="advertisementObjectFile"
                               class="form-control" [disabled]="!advertisementObject.value || advertisementObject.value && advertisementObject.value.value !== true">
                      </div>
                      <small class="gna-text-red"
                             *ngIf="objectFileErrorMessage">{{ objectFileErrorMessage }}</small>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Clauses</label>
                      <button
                        type="button"
                        mat-stroked-button color="primary" class="example-full-width gna-btn-clauses"
                        (click)="openClauseEditorDialog()">Ajouter</button>
                    </div>
                    <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                      <label>Description</label>
                      <textarea rows="2" pInputTextarea formControlName="description"
                                class="gna-form-input"></textarea>
                    </div>
                    <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <label>Validation back office</label>
                      <br>
                      <p-checkbox formControlName="backOfficeValidation" [binary]="true" inputId="backOfficeValidation"
                                  class="gna-form-checkbox"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-checkbox>
                    </div>
                  </div>
                </form>

              </div>

            </div>

            <div class="tab-pane fade" id="pills-partners" role="tabpanel" aria-labelledby="pills-partners-tab" tabindex="0">
              <div class="container-fluid">
                <form
                  [formGroup]="formProductPartner">
                  <div class="row pb-2 gna-form">

                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Partnaire commercial</label>

                      <p-dropdown [options]="partnerList"
                                  optionLabel="name" optionValue="name" placeholder="Partnaire commercial"
                                  class="gna-form-dropdown"
                                  formControlName="partnerId"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                        <ng-template let-item pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ item.name }}</div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="partnerAccessoryAmount">Montant forfaitaire des accessoires</label>
                      <input pInputText pKeyFilter="money"
                             id="partnerAccessoryAmount" aria-describedby="accessory-amount-company-help" placeholder="Montant forfaitaire des accessoires partenaire" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             formControlName="partnerAccessoryAmount"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="partnerCommissionRate">Taux de commission %</label>
                      <input pInputText pKeyFilter="money"
                             id="partnerCommissionRate" aria-describedby="name-help" placeholder="Taux de commission partenaire" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             formControlName="partnerCommissionRate"/>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="sponsorshipCode">Code parainage</label>
                      <input pInputText
                             type="text" id="sponsorshipCode" aria-describedby="name-help" placeholder="Code parainage Partenaire" class="gna-form-input"
                             formControlName="sponsorshipCode"/>
                    </div>

                  </div>


                <div class="row gna-form mb-3">


                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 btn-new">
                    @if (!formProductPartner.valid || partnerList && partnerList.length <= 0) {
                      <button mat-raised-button
                              class="gna-btn-default gna-btn-add gna-disable">Ajouter</button>
                    } @else {
                      <button mat-raised-button
                              class="gna-btn-default gna-btn-add"
                              (click)="onAddPartnerToTable()"
                              [disabled]="isSave || accountService.pageLoading || accountService.isSave">Ajouter</button>
                    }
                  </div>

                </div>
                </form>
                <div class="example-table-con ">
                  <table class="table table-borderless gi-table">
                    <thead>
                    <tr>
                      <th>Code partnaire</th>
                      <th>Nom partnaire</th>
                      <th>Montant forfaitaire</th>
                      <th>Taux commission</th>
                      <th>Code parainage</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      @for (selectPartner of selectPartnerList | keyvalue; track selectPartner) {
                        <tr>
                          <td>{{ selectPartner.value.code }}</td>
                          <td>{{ selectPartner.value.name }}</td>
                          <td>
                            <span *ngIf="selectPartner.value.accessoryAmount">
                              {{ selectPartner.value.accessoryAmount | number : "2.0" }}
                            </span>
                          </td>
                          <td>
                           <span *ngIf="selectPartner.value.commissionRate">
                             {{ selectPartner.value.commissionRate | number : "2.0" }}%
                           </span>
                          </td>
                          <td>{{ selectPartner.value.sponsorshipCode }}</td>
                          <td>
                              <span class="gna-action-span-div">
                      <span class="gna-action-span">
                      @if (isSave || accountService.pageLoading || accountService.isSave) {
                        <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn">
                      } @else {
                        <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn"
                             (click)="onEditItem(selectPartner.value)">
                      }
                      </span>
                                        <span class="gna-action-span">
                                    @if (isSave || accountService.pageLoading || accountService.isSave) {
                                      <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2">
                                    } @else {
                                      <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2"
                                           (click)="onRemoveGuaranteeFromList(selectPartner.value)">
                                    }
                                        </span>
                              </span>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>
