<div class="gna-main-content">

  <div class="gna-content-header">
    <p-breadcrumb [model]="items" [home]="home" class="gna-breadcrumb"></p-breadcrumb>
  </div>

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="gna-card-header-title">
          Garantie
        </div>
        <div class="gna-card-header-btn">
          <div class="gna-card-header-btn-1">

            <button mat-stroked-button color="primary"
                    class="gna-btn-default"
                    (click)="onBack()">Retour</button>
          </div>
          <div class="gna-card-header-btn-2">
            <button mat-stroked-button color="primary"
                    class="gna-btn-default"
                    (click)="onGoToEdit()">Modifier</button>
          </div>
            <div class="gna-card-header-btn-2">
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save">Soumettre</button>
            </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="mt-4">
          <div class="card">
            <div class="card-body gna-card-body">
              <div class="row">
                <div class="col-3">
                  <span class="gna-view-label">Code : </span>
                  <span class="gna-view-value">{{ guaranteeData.code }}</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Nom : </span>
                  <span class="gna-view-value">{{ guaranteeData.name }}</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Taux de taxe : </span>
                  <span class="gna-view-value">{{ guaranteeData.taxRate | number : "2.0" }}%</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Taux franchise : </span>
                  <span class="gna-view-value">{{ guaranteeData.franchiseRate | number : "2.0" }}%</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Franchise minimum : </span>
                  <span class="gna-view-value">{{ guaranteeData.franchiseMinimum | number : "2.0" }}</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Franchise maximum : </span>
                  <span class="gna-view-value">{{ guaranteeData.franchiseMaximum | number : "2.0" }}</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Durée minimum souscription : </span>
                  <span class="gna-view-value">{{ guaranteeData.subscriptionMinimumPeriod | number : "2.0" }}</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Durée maximum souscription : </span>
                  <span class="gna-view-value">{{ guaranteeData.subscriptionMaximumPeriod | number : "2.0" }}</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Délai de carence : </span>
                  <span class="gna-view-value"
                        *ngIf="guaranteeData.deficiencyDeadline && guaranteeData.deficiencyDeadlineUnit">
                    {{ guaranteeData.deficiencyDeadline | number : "2.0" }} {{ guaranteeData.deficiencyDeadlineUnit.name }}
                  </span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Plancher de garantie : </span>
                  <span class="gna-view-value">{{ guaranteeData.guaranteeFloor | number : "2.0" }}</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Plafond de garantie : </span>
                  <span class="gna-view-value">{{ guaranteeData.guaranteeCeiling | number : "2.0" }}</span>
                </div>
                <div class="col-3">
                  <span class="gna-view-label">Prime minimum : </span>
                  <span class="gna-view-value">{{ guaranteeData.premiumMinimum | number : "2.0" }}</span>
                </div>
                <div class="col-3 mt-3">
                  <span class="gna-view-label">Réduction applicable : </span>
                  @if (guaranteeData.discountApplicable) {
                    <span class="gna-view-value">Oui</span>
                  } @else {
                    <span class="gna-view-value">Non</span>
                  }
                </div>
                <div class="col-3 mt-3">
                  <span class="gna-view-label">Territoire : </span>
                  @if (guaranteeData.zone) {
                    <span class="gna-view-value">{{ guaranteeData.zone.name }}</span>
                  }
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-4 mt-3">
                      <span class="gna-view-label">Partenaires techniques : </span>
                    </div>
                    <div class="col-8">
                      <mat-chip-listbox aria-label="Partners">
                        @for (partner of guaranteeData.partners; track partner.id; let isLast = $last) {
                          <mat-chip-option>{{ partner.name }}</mat-chip-option>
                        }
                      </mat-chip-listbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <span class="gna-view-label">Description : </span>
                  <span class="gna-view-value" *ngIf="guaranteeData.description">{{ guaranteeData.description }}
                  </span>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <span class="gna-view-label">Clauses : </span>
                  <br>
                  <span class="gna-view-value" [innerHTML]="guaranteeData.clauses"></span>
                </div>
              </div>
              <div class="row mt-2">
                <span class="gna-view-label">Sous Garanties : </span>
                <br>
                <ng-container *ngIf="guaranteeData && guaranteeData.items">

                  @for (item of guaranteeData.items; track item) {
                    <div class="row gna-text-primary">
                      <div class="col">
                        <span>Code : {{ item.code }}</span>
                      </div>
                      <div class="col">
                        <span>Nom : {{ item.name }}</span>
                      </div>
                      <div class="col">
                        <span>Capital : {{ item.capital | number : "2.0" }}</span>
                      </div>
                      <div class="col">
                        <span>Taux franchise : {{ item.franchiseRate | number : "2.0" }}%</span>
                      </div>
                      <div class="col">
                        <span>Franchise minimum : {{ item.franchiseMinimum | number : "2.0" }}</span>
                      </div>
                      <div class="col">
                        <span>Franchise maximum : {{ item.franchiseMaximum | number : "2.0" }}</span>
                      </div>
                    </div>
                  }

                </ng-container>
              </div>
              <div class="row mt-2">
                <div class="col-3">
                  <span class="gna-view-label">Statut : </span>
                  <span class="gna-view-value">
                 @if (guaranteeData.enabled) {
                   <p-chip label="Activé" class="gna-chip-g"></p-chip>
                 } @else {
                   <p-chip label="Désactivé" class="gna-chip-r"></p-chip>
                 }
              </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
