<div class="gna-bc">
  <span>Configuration des produits / Garanties / Voir / En Attente</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="gna-card-header-btn row">
          <div class="col-12 col-sm-6">
            <button mat-raised-button
                    class="gna-btn-default gna-btn-cancel"
                    (click)="onBack()"
                    [disabled]="isSave || accountService.pageLoading || accountService.isSave">Annuler</button>
          </div>
          <div class="col-12 col-sm-6">

              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      [disabled]="isSave || accountService.pageLoading || accountService.isSave">Soumettre</button>
          </div>

        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Informations Garantie" [disabled]="isSave">
            <div class="container-fluid">
                <div class="row pb-2 gna-form">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="name">Nom Garantie</label>
                    <input pInputText
                           type="text" id="name" aria-describedby="name-help" placeholder="Nom Garantie *" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.name"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="name">Taux de taxe</label>
                    <input pInputText pKeyFilter="money"
                           id="taxRate" aria-describedby="name-help" placeholder="Taux de taxe *" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.taxRate"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="name">Taux franchise</label>
                    <input pInputText pKeyFilter="money"
                           id="franchiseRate" aria-describedby="name-help" placeholder="Taux franchise" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.franchiseRate"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="franchiseMinimum">Franchise minimum</label>
                    <input pInputText pKeyFilter="money"
                           id="franchiseMinimum" aria-describedby="accessory-amount-company-help" placeholder="Franchise minimum" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.franchiseMinimum"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="franchiseMinimum">Franchise maximum</label>
                    <input pInputText pKeyFilter="money"
                           id="franchiseMaximum" aria-describedby="accessory-amount-company-help" placeholder="Franchise maximum" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.franchiseMaximum"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="subscriptionMinimumPeriod">Durée minimum souscription</label>
                    <input pInputText pKeyFilter="int"
                           id="subscriptionMinimumPeriod" aria-describedby="accessory-amount-company-help" placeholder="Durée minimum souscription *" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.subscriptionMinimumPeriod"/>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="subscriptionMaximumPeriod">Durée maximum souscription</label>
                    <input pInputText pKeyFilter="int"
                           id="subscriptionMaximumPeriod" aria-describedby="accessory-amount-company-help" placeholder="Durée maximum souscription *" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.subscriptionMaximumPeriod"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="premiumMinimum">Prime minimum</label>
                    <input pInputText pKeyFilter="money"
                           id="premiumMinimum" aria-describedby="accessory-amount-company-help" placeholder="Prime minimum *" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.premiumMinimum"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Délai de carence</label>
                    <input pInputText pKeyFilter="int"
                           id="deficiencyDeadline" aria-describedby="accessory-amount-company-help" placeholder="Délai de carence" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.deficiencyDeadline"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Unité délai de carence</label>
                            @if (guaranteeData.deficiencyDeadlineUnit) {
                      <p-dropdown [disabled]="isDisable"
                                  [options]="periodList"
                                  class="gna-form-dropdown"></p-dropdown>
                    } @else {
                      <p-dropdown [disabled]="isDisable"
                                  [options]="periodList" placeholder="Unité délai de carence"
                                  class="gna-form-dropdown"></p-dropdown>
                    }
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="guaranteeFloor">Plancher de garantie</label>

                    <input pInputText pKeyFilter="money"
                           id="guaranteeFloor" aria-describedby="accessory-amount-company-help" placeholder="Plancher de garantie" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.guaranteeFloor"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="guaranteeCeiling">Plafond de garantie</label>
                    <input pInputText pKeyFilter="money"
                           id="guaranteeCeiling" aria-describedby="accessory-amount-company-help" placeholder="Plafond de garantie" class="gna-form-input"
                           [disabled]="isDisable"
                           [value]="guaranteeData.guaranteeCeiling"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Réduction applicable</label>
                    @if (guaranteeData.discountApplicable) {
                      <p-dropdown [disabled]="isDisable"
                                  [options]="yesOrNoList"
                                  class="gna-form-dropdown"></p-dropdown>
                    } @else {
                      <p-dropdown [disabled]="isDisable"
                                  [options]="yesOrNoList" placeholder="Réduction applicable"
                                  class="gna-form-dropdown"></p-dropdown>
                    }
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Territoire</label>

                    @if (guaranteeData.zone) {
                      <p-dropdown [disabled]="isDisable"
                                  [options]="zoneList"
                                  class="gna-form-dropdown"></p-dropdown>
                    } @else {
                      <p-dropdown [disabled]="isDisable"
                                  [options]="zoneList" placeholder="Territoire"
                                  class="gna-form-dropdown"></p-dropdown>
                    }
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Partenaires techniques</label>
                    <p-multiSelect [options]="partnerList"
                                   class="gna-form-multiselect"
                                   placeholder="Partenaires techniques"
                                   [disabled]="isDisable"
                                   [(ngModel)]="partnerList" name="partners"
                                   [showClear]="false">
                      <ng-template let-api pTemplate="api">
                        <div class="flex align-items-center gap-2">
                          <div>{{ api }}</div>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Clauses</label>
                    <button
                      type="button"
                      mat-stroked-button color="primary" class="example-full-width gna-btn-clauses"
                      (click)="openClauseEditorDialog()">Voir</button>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>Description</label>
                    <textarea rows="2" pInputTextarea   [disabled]="isDisable"
                              [value]="guaranteeData.description"
                              class="gna-form-input"></textarea>
                  </div>
                </div>
            </div>
          </mat-tab>
          <mat-tab label="Sous Garanties" [disabled]="isSave || accountService.pageLoading || accountService.isSave">
            <div class="container-fluid">
                <div class="row pb-2 gna-form">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Nom Sous garantie</label>
                    <input pInputText
                           type="text" aria-describedby="name-help" placeholder="Nom sous garantie *" class="gna-form-input"
                    [disabled]="isDisable">
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Taux franchise</label>
                    <input pInputText pKeyFilter="money"
                           aria-describedby="name-help" placeholder="Taux franchise" class="gna-form-input"
                           [disabled]="isDisable"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="franchiseMinimum">Franchise minimum</label>
                    <input pInputText pKeyFilter="money"
                           aria-describedby="accessory-amount-company-help" placeholder="Franchise minimum" class="gna-form-input"
                           [disabled]="isDisable"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="franchiseMinimum">Franchise maximum</label>
                    <input pInputText pKeyFilter="money"
                           aria-describedby="accessory-amount-company-help" placeholder="Franchise maximum" class="gna-form-input"
                           [disabled]="isDisable"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Capital</label>
                    <input pInputText pKeyFilter="money"
                           aria-describedby="accessory-amount-company-help" placeholder="Capital *" class="gna-form-input"
                           [disabled]="isDisable"/>
                  </div>
                  <div class="col-12 btn-new mb-3">
                      <button mat-raised-button
                              class="gna-btn-default-2 gna-btn-add gna-disable">Ajouter</button>
                  </div>
                </div>
              <div class="example-table-con">
                <table class="table table-borderless gi-table">
                  <thead>
                  <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Capital</th>
                    <th>Taux franchise</th>
                    <th>Franchise minimum</th>
                    <th>Franchise maximum</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody class="gna-disable">
                    @for (item of guaranteeItemsData; track item) {
                      <tr>
                        <td>{{ item.code }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.capital | number : "2.0" }}</td>
                        <td>
                          @if (item.franchiseRate) {
                            {{ item.franchiseRate | number : "2.0" }}%
                          } @else {
                            0%
                          }
                        </td>
                        <td>
                          @if (item.franchiseMinimum) {
                            {{ item.franchiseMinimum | number : "2.0" }}
                          } @else {
                            0
                          }
                        </td>
                        <td>
                          @if (item.franchiseMaximum) {
                            {{ item.franchiseMaximum | number : "2.0" }}
                          } @else {
                            0
                          }
                        </td>
                        <td>
                       <span class="gna-action-span-div">
                      <span class="gna-action-span">

                          <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn">
                  </span>
                  <span>
                             <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2">

                  </span>
                  </span>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>

</div>
