<div class="gna-bc">
  <span>Configuration des produits / Garanties / Voir</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

            <!--<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-save gna-full-width gna-disable">Soumettre</button>
              } @else {

                @if (!formData.valid) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onGetNotBlankAlert()">Soumettre</button>

                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onConfirm()">Soumettre</button>
                }
              }
            </div>-->

          </div>
        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="container-fluid">
          <div class="mt-4">
            <div class="card">
              <div class="card-body gna-card-body"
                   *ngIf="guaranteeData">

                <div class="row">

                  <div class="col"></div>
                  <div class="col offset-10">
                    @if (guaranteeData.statusCode && guaranteeData.statusCode === 1) {
                      <p-tag severity="warning" value="Enregistré"></p-tag>
                    } @else if (guaranteeData.statusCode && guaranteeData.statusCode === 2) {
                      <p-tag severity="success" value="Validé"></p-tag>
                    } @else if (guaranteeData.statusCode && guaranteeData.statusCode === 3) {
                      <p-tag severity="success" value="Approuvé"></p-tag>
                    }
                  </div>
                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Code Garantie : </span>
                    <span class="gna-view-value">
                    @if (guaranteeData.code ) {
                      {{ guaranteeData.code }}
                    } @else {
                      N/A
                    }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label">Nom Garantie : </span>
                    <span class="gna-view-value">
                    @if (guaranteeData.name ) {
                      {{ guaranteeData.name }}
                    } @else {
                      N/A
                    }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Taux Taxe Assurance : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.taxRate ) {
                         {{ guaranteeData.taxRate | number : "2.0"}}%
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Taux Franchise : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.franchiseRate ) {
                         {{ guaranteeData.franchiseRate | number : "2.0"}}%
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Franchise Minimum : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.franchiseMinimum) {
                         {{ guaranteeData.franchiseMinimum | currency: 'XOF' : 'symbol' : '4.2-2' : 'fr'}}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Franchise Maximum : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.franchiseMaximum) {
                         {{ guaranteeData.franchiseMaximum  | currency: 'XOF' : 'symbol' : '4.2-2' : 'fr'}}
                       } @else {
                         N/A
                       }
                  </span>


                  </div> <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Durée Minimum Souscription : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.subscriptionMinimumPeriod) {
                         {{ guaranteeData.subscriptionMinimumPeriod | number : "2.0"}} jours
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <span class="gna-view-label"> Durée Maximum Souscription : </span>
                <span class="gna-view-value">
                       @if (guaranteeData.subscriptionMaximumPeriod) {
                         {{ guaranteeData.subscriptionMaximumPeriod | number : "2.0"}} jours
                       } @else {
                         N/A
                       }
                  </span>
              </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Prime Minimum : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.premiumMinimum) {
                         {{ guaranteeData.premiumMinimum  | currency: 'XOF' : 'symbol' : '4.2-2' : 'fr'}}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Délai de carence : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.deficiencyDeadline) {
                         {{ guaranteeData.deficiencyDeadline | number : "2.0"}}
                         @if (guaranteeData.deficiencyDeadlineUnit) {
                           {{ guaranteeData.deficiencyDeadlineUnit.name | lowercase }}
                         } @else {
                           N/A
                         }
                       } @else {
                         N/A
                       }
                  </span>
                  </div>


                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Plancher de garantrie : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.guaranteeFloor) {
                         {{ guaranteeData.guaranteeFloor  | currency: 'XOF' : 'symbol' : '4.2-2' : 'fr'}}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Plafond de garantrie : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.guaranteeCeiling) {
                         {{ guaranteeData.guaranteeCeiling  | currency: 'XOF' : 'symbol' : '4.2-2' : 'fr'}}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Reduction Applicable : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.discountApplicable) {
                        Oui
                       } @else {
                        Non
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <span class="gna-view-label"> Territorialité : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.zone) {
                         {{ guaranteeData.zone.name }}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                    <span class="gna-view-label"> Description : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.description) {
                         {{ guaranteeData.description }}
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                    <span class="gna-view-label"> Partenaires : </span>
                    <span class="gna-view-value">
                       @if (guaranteeData.partners && guaranteeData.partners.length > 0) {
                         @for (partner of guaranteeData.partners; track partner) {
                           <p-chip><span>{{ partner.name }}</span></p-chip> <span class="span-mr"></span>
                         }
                       } @else {
                         N/A
                       }
                  </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                    <div class="gna-view-label text-center"> Clauses</div>
                    <span class="gna-view-value">
                       @if (guaranteeData.clauses) {
                        <div [innerHTML]="guaranteeData.clauses"></div>
                       } @else {
                        <div>N/A</div>
                       }
                  </span>
                  </div>

                </div>


              </div>
            </div>

            <div *ngIf="guaranteeData && guaranteeData.items && guaranteeData.items.length > 0">
              <table class="table table-borderless gi-table mt-2">
                <thead>
                <tr>
                  <th>Code Sous Garantie</th>
                  <th>Nom Sous Garantie</th>
                  <th>Capital</th>
                  <th>Taux Franchise</th>
                  <th>Franchise Minimum</th>
                  <th>Franchise Maximum</th>
                </tr>
                </thead>
                <tbody>
                  @for (item of guaranteeData.items; track item) {
                    <tr>
                      <td>{{ item.code }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.capital | currency: 'XOF' : 'symbol' : '4.2-2' : 'fr'}}
                      <td>
                        @if (item.franchiseRate) {
                          {{ item.franchiseRate | number : "2.0" }}%
                        } @else {
                          0%
                        }
                      </td>
                      <td>
                        @if (item.franchiseMinimum) {
                          {{ item.franchiseMinimum | currency: 'XOF' : 'symbol' : '4.2-2' : 'fr'}}
                        } @else {
                          0
                        }
                      </td>
                      <td>
                        @if (item.franchiseMaximum) {
                          {{ item.franchiseMaximum | currency: 'XOF' : 'symbol' : '4.2-2' : 'fr'}}
                        } @else {
                          0
                        }
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
