<div class="gna-bc">
  <span>Configuration des produits / Garanties / Modification</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="gna-card-header-btn row">
          <div class="col-12 col-sm-6">
            <button mat-raised-button
                    class="gna-btn-default gna-btn-cancel"
                    (click)="onBack()"
                    [disabled]="isSave || accountService.pageLoading || accountService.isSave">Annuler</button>
          </div>
          <div class="col-12 col-sm-6">
            @if (!formData.valid) {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      (click)="onGetNotBlankAlert()">Modifier</button>
            } @else {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                      (click)="onConfirm()">Modifier</button>
            }
          </div>

        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="mt-3 gna-card-tab"></div>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active"
               id="pills-home-tab"
               data-bs-toggle="pill"
               data-bs-target="#pills-home"
               type="button" role="tab"
               aria-current="page"
               aria-controls="pills-home"
               aria-selected="true">Garantie</a>
          </li>
          <li class="nav-item gna-nav-tabs-2">
            <a class="nav-link"
               id="pills-profile-tab"
               data-bs-toggle="pill"
               data-bs-target="#pills-partners"
               type="button" role="tab"
               aria-controls="pills-partners"
               aria-selected="false">Sous Garanties</a>
          </li>
        </ul>

        <div class="gna-card-tab-item">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
              <div class="container-fluid">
                <form
                  [formGroup]="formData">
                  <div class="row pb-2 gna-form">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Nom Garantie</label>
                      <input pInputText
                             type="text" id="name" aria-describedby="name-help" placeholder="Nom Garantie *" class="gna-form-input"
                             required
                             formControlName="name"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Taux de taxe</label>
                      <input pInputText pKeyFilter="money"
                             id="taxRate" aria-describedby="name-help" placeholder="Taux de taxe *" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             min="1"
                             required
                             formControlName="taxRate"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Taux franchise</label>
                      <input pInputText pKeyFilter="money"
                             id="franchiseRate" aria-describedby="name-help" placeholder="Taux franchise" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             formControlName="franchiseRate"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="franchiseMinimum">Franchise minimum</label>
                      <input pInputText pKeyFilter="money"
                             id="franchiseMinimum" aria-describedby="accessory-amount-company-help" placeholder="Franchise minimum" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             formControlName="franchiseMinimum"
                             max="{{franchiseMaximum.value}}"
                             #franchiseMinimum
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="franchiseMinimum">Franchise maximum</label>
                      <input pInputText pKeyFilter="money"
                             id="franchiseMaximum" aria-describedby="accessory-amount-company-help" placeholder="Franchise maximum" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             formControlName="franchiseMaximum"
                             #franchiseMaximum
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="subscriptionMinimumPeriod">Durée minimum souscription</label>
                      <input pInputText pKeyFilter="int"
                             id="subscriptionMinimumPeriod" aria-describedby="accessory-amount-company-help" placeholder="Durée minimum souscription *" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             min="1"
                             max="{{subscriptionMaximumPeriod.value}}"
                             required
                             #subscriptionMinimumPeriod
                             formControlName="subscriptionMinimumPeriod"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="subscriptionMaximumPeriod">Durée maximum souscription</label>
                      <input pInputText pKeyFilter="int"
                             id="subscriptionMaximumPeriod" aria-describedby="accessory-amount-company-help" placeholder="Durée maximum souscription *" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             min="{{subscriptionMinimumPeriod.value}}"
                             required
                             #subscriptionMaximumPeriod
                             formControlName="subscriptionMaximumPeriod"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="premiumMinimum">Prime minimum</label>
                      <input pInputText pKeyFilter="money"
                             id="premiumMinimum" aria-describedby="accessory-amount-company-help" placeholder="Prime minimum *" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             min="1"
                             required
                             formControlName="premiumMinimum"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Délai de carence</label>
                      <input pInputText pKeyFilter="int"
                             id="deficiencyDeadline" aria-describedby="accessory-amount-company-help" placeholder="Délai de carence" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             #deficiencyDeadline
                             formControlName="deficiencyDeadline"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Unité délai de carence</label>
                      <p-dropdown formControlName="deficiencyDeadlineUnit" [options]="periodList" optionLabel="name" optionValue="name"
                                  placeholder="Unité délai de carence"
                                  class="gna-form-dropdown"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="guaranteeFloor">Plancher de garantie</label>

                      <input pInputText pKeyFilter="money"
                             id="guaranteeFloor" aria-describedby="accessory-amount-company-help" placeholder="Plancher de garantie" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             formControlName="guaranteeFloor"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="guaranteeCeiling">Plafond de garantie</label>
                      <input pInputText pKeyFilter="money"
                             id="guaranteeCeiling" aria-describedby="accessory-amount-company-help" placeholder="Plafond de garantie" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             formControlName="guaranteeCeiling"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Réduction applicable</label>
                      <p-dropdown formControlName="discountApplicable" [options]="yesOrNoList" optionLabel="name" optionValue="name"
                                  placeholder="Réduction applicable *"
                                  class="gna-form-dropdown"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Territoire</label>
                      <br>
                      <p-dropdown formControlName="zone" [options]="zoneList" optionLabel="name"
                                  optionValue="name"
                                  placeholder="Territoire *"
                                  class="gna-form-dropdown"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Partenaires techniques</label>
                      <p-multiSelect [options]="partnerList"
                                     optionLabel="name"  optionValue="name"
                                     placeholder="Partenaires techniques"
                                     class="gna-form-multiselect"
                                     formControlName="partners"
                                     [filter]="false"
                                     [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                        <ng-template let-partner pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ partner.name }}</div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Clauses</label>
                      <button
                        type="button"
                        mat-stroked-button color="primary" class="example-full-width gna-btn-clauses"
                        (click)="openClauseEditorDialog()">Ajouter</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <label>Description</label>
                      <textarea rows="2" pInputTextarea formControlName="description"
                                class="gna-form-input"></textarea>
                    </div>
                  </div>

                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-partners" role="tabpanel" aria-labelledby="pills-partners-tab" tabindex="0">
              <div class="container-fluid">
                <form
                  [formGroup]="formDataItem">
                  <div class="row pb-2 gna-form">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Nom Sous garantie</label>
                      <input pInputText
                             type="text" aria-describedby="name-help" placeholder="Nom sous garantie *" class="gna-form-input"
                             required
                             formControlName="name"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Taux franchise</label>
                      <input pInputText pKeyFilter="money"
                             aria-describedby="name-help" placeholder="Taux franchise" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             formControlName="franchiseRate"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="franchiseMinimum">Franchise minimum</label>
                      <input pInputText pKeyFilter="money"
                             aria-describedby="accessory-amount-company-help" placeholder="Franchise minimum" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             formControlName="franchiseMinimum"
                             max="{{franchiseMaximumS.value}}"
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="franchiseMinimum">Franchise maximum</label>
                      <input pInputText pKeyFilter="money"
                             aria-describedby="accessory-amount-company-help" placeholder="Franchise maximum" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             formControlName="franchiseMaximum"
                             #franchiseMaximumS
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Capital</label>
                      <input pInputText pKeyFilter="money"
                             aria-describedby="accessory-amount-company-help" placeholder="Capital *" class="gna-form-input"
                             type="number"
                             pattern="^\d+$"
                             min="1"
                             formControlName="capital"
                             required
                             [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 btn-new mb-3">
                      @if (!formDataItem.valid) {
                        <button mat-raised-button
                                class="gna-btn-default-2 gna-btn-save"
                                (click)="onGetNotBlankAlert()">Ajouter</button>
                      } @else {
                        <button mat-raised-button
                                class="gna-btn-default-2 gna-btn-add"
                                [disabled]="!formDataItem.valid || isSave || accountService.pageLoading"
                                (click)="onConfirmItem()">Ajouter</button>
                      }
                    </div>
                  </div>
                </form>
                <div class="example-table-con">
                  <table class="table table-borderless gi-table">
                    <thead>
                    <tr>
                      <th>Code</th>
                      <th>Nom</th>
                      <th>Capital</th>
                      <th>Taux franchise</th>
                      <th>Franchise minimum</th>
                      <th>Franchise maximum</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      @for (item of guaranteeItemsData; track item) {
                        <tr>
                          <td>{{ item.code }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.capital | number : "2.0" }}</td>
                          <td>
                            @if (item.franchiseRate) {
                              {{ item.franchiseRate | number : "2.0" }}%
                            } @else {
                              0%
                            }
                          </td>
                          <td>
                            @if (item.franchiseMinimum) {
                              {{ item.franchiseMinimum | number : "2.0" }}
                            } @else {
                              0
                            }
                          </td>
                          <td>
                            @if (item.franchiseMaximum) {
                              {{ item.franchiseMaximum | number : "2.0" }}
                            } @else {
                              0
                            }
                          </td>
                          <td>
                       <span class="gna-action-span-div">
                      <span class="gna-action-span">

                        @if (isSave || accountService.pageLoading || accountService.isSave) {
                          <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn">
                        } @else {
                          <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn"
                               (click)="onEditItem(item)">
                        }
                  </span>
                  <span>
                           @if (isSave || accountService.pageLoading || accountService.isSave) {
                             <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2">
                           } @else {
                             <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2"
                                  (click)="onConfirmRemove(item)">
                           }

                  </span>
                  </span>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

 <!--           <mat-tab-group>
          <mat-tab label="Informations Garantie" [disabled]="isSave">
            <div class="container-fluid">
              <form
                [formGroup]="formData">
                <div class="row pb-2 gna-form">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="name">Nom Garantie</label>
                    <input pInputText
                           type="text" id="name" aria-describedby="name-help" placeholder="Nom Garantie *" class="gna-form-input"
                           required
                           formControlName="name"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="name">Taux de taxe</label>
                    <input pInputText pKeyFilter="money"
                           id="taxRate" aria-describedby="name-help" placeholder="Taux de taxe *" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           min="1"
                           required
                           formControlName="taxRate"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="name">Taux franchise</label>
                    <input pInputText pKeyFilter="money"
                           id="franchiseRate" aria-describedby="name-help" placeholder="Taux franchise" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           formControlName="franchiseRate"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="franchiseMinimum">Franchise minimum</label>
                    <input pInputText pKeyFilter="money"
                           id="franchiseMinimum" aria-describedby="accessory-amount-company-help" placeholder="Franchise minimum" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           formControlName="franchiseMinimum"
                           max="{{franchiseMaximum.value}}"
                           #franchiseMinimum
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="franchiseMinimum">Franchise maximum</label>
                    <input pInputText pKeyFilter="money"
                           id="franchiseMaximum" aria-describedby="accessory-amount-company-help" placeholder="Franchise maximum" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           formControlName="franchiseMaximum"
                           #franchiseMaximum
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="subscriptionMinimumPeriod">Durée minimum souscription</label>
                    <input pInputText pKeyFilter="int"
                           id="subscriptionMinimumPeriod" aria-describedby="accessory-amount-company-help" placeholder="Durée minimum souscription *" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           min="1"
                           max="{{subscriptionMaximumPeriod.value}}"
                           required
                           #subscriptionMinimumPeriod
                           formControlName="subscriptionMinimumPeriod"
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="subscriptionMaximumPeriod">Durée maximum souscription</label>
                    <input pInputText pKeyFilter="int"
                           id="subscriptionMaximumPeriod" aria-describedby="accessory-amount-company-help" placeholder="Durée maximum souscription *" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           min="{{subscriptionMinimumPeriod.value}}"
                           required
                           #subscriptionMaximumPeriod
                           formControlName="subscriptionMaximumPeriod"
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="premiumMinimum">Prime minimum</label>
                    <input pInputText pKeyFilter="money"
                           id="premiumMinimum" aria-describedby="accessory-amount-company-help" placeholder="Prime minimum *" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           min="1"
                           required
                           formControlName="premiumMinimum"
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Délai de carence</label>
                    <input pInputText pKeyFilter="int"
                           id="deficiencyDeadline" aria-describedby="accessory-amount-company-help" placeholder="Délai de carence" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           #deficiencyDeadline
                           formControlName="deficiencyDeadline"
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Unité délai de carence</label>
                    <p-dropdown formControlName="deficiencyDeadlineUnit" [options]="periodList" optionLabel="name" optionValue="name"
                                placeholder="Unité délai de carence"
                                class="gna-form-dropdown"
                                [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="guaranteeFloor">Plancher de garantie</label>

                    <input pInputText pKeyFilter="money"
                           id="guaranteeFloor" aria-describedby="accessory-amount-company-help" placeholder="Plancher de garantie" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           formControlName="guaranteeFloor"
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="guaranteeCeiling">Plafond de garantie</label>
                    <input pInputText pKeyFilter="money"
                           id="guaranteeCeiling" aria-describedby="accessory-amount-company-help" placeholder="Plafond de garantie" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           formControlName="guaranteeCeiling"
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Réduction applicable</label>
                    <p-dropdown formControlName="discountApplicable" [options]="yesOrNoList" optionLabel="name" optionValue="name"
                                placeholder="Réduction applicable *"
                                class="gna-form-dropdown"
                                [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Territoire</label>
                    <br>
                    <p-dropdown formControlName="zone" [options]="zoneList" optionLabel="name"
                                optionValue="name"
                                placeholder="Territoire *"
                                class="gna-form-dropdown"
                                [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Partenaires techniques</label>
                    <p-multiSelect [options]="partnerList"
                                   optionLabel="name"  optionValue="name"
                                   placeholder="Partenaires techniques"
                                   class="gna-form-multiselect"
                                   formControlName="partners"
                                   [filter]="false"
                                   [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                      <ng-template let-partner pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ partner.name }}</div>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Clauses</label>
                    <button
                      type="button"
                      mat-stroked-button color="primary" class="example-full-width gna-btn-clauses"
                      (click)="openClauseEditorDialog()">Ajouter</button>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>Description</label>
                    <textarea rows="2" pInputTextarea formControlName="description"
                              class="gna-form-input"></textarea>
                  </div>
                </div>

              </form>
            </div>
          </mat-tab>
          <mat-tab label="Sous Garanties" [disabled]="isSave || accountService.pageLoading || accountService.isSave">
            <div class="container-fluid">
              <form
                [formGroup]="formDataItem">
                <div class="row pb-2 gna-form">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Nom Sous garantie</label>
                    <input pInputText
                           type="text" aria-describedby="name-help" placeholder="Nom sous garantie *" class="gna-form-input"
                           required
                           formControlName="name"
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Taux franchise</label>
                    <input pInputText pKeyFilter="money"
                           aria-describedby="name-help" placeholder="Taux franchise" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           formControlName="franchiseRate"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="franchiseMinimum">Franchise minimum</label>
                    <input pInputText pKeyFilter="money"
                            aria-describedby="accessory-amount-company-help" placeholder="Franchise minimum" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           formControlName="franchiseMinimum"
                           max="{{franchiseMaximum.value}}"
                           #franchiseMinimum
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label for="franchiseMinimum">Franchise maximum</label>
                    <input pInputText pKeyFilter="money"
                            aria-describedby="accessory-amount-company-help" placeholder="Franchise maximum" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           formControlName="franchiseMaximum"
                           #franchiseMaximum
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <label>Capital</label>
                    <input pInputText pKeyFilter="money"
                           aria-describedby="accessory-amount-company-help" placeholder="Capital *" class="gna-form-input"
                           type="number"
                           pattern="^\d+$"
                           min="1"
                           formControlName="capital"
                           required
                           [readonly]="isSave || accountService.pageLoading"/>
                  </div>
              <div class="col-12 btn-new mb-3">
                  @if (!formDataItem.valid) {
                    <button mat-raised-button
                            class="gna-btn-default-2 gna-btn-save"
                            (click)="onGetNotBlankAlert()">Ajouter</button>
                  } @else {
                    <button mat-raised-button
                            class="gna-btn-default-2 gna-btn-add"
                            [disabled]="!formDataItem.valid || isSave || accountService.pageLoading"
                            (click)="onConfirmItem()">Ajouter</button>
                  }
              </div>
              </div>
              </form>
              <div class="example-table-con">
                <table class="table table-borderless gi-table">
                  <thead>
                  <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Capital</th>
                    <th>Taux franchise</th>
                    <th>Franchise minimum</th>
                    <th>Franchise maximum</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    @for (item of guaranteeItemsData; track item) {
                      <tr>
                        <td>{{ item.code }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.capital | number : "2.0" }}</td>
                        <td>
                          @if (item.franchiseRate) {
                            {{ item.franchiseRate | number : "2.0" }}%
                          } @else {
                            0%
                          }
                        </td>
                        <td>
                          @if (item.franchiseMinimum) {
                            {{ item.franchiseMinimum | number : "2.0" }}
                          } @else {
                            0
                          }
                        </td>
                        <td>
                          @if (item.franchiseMaximum) {
                            {{ item.franchiseMaximum | number : "2.0" }}
                          } @else {
                            0
                          }
                        </td>
                        <td>
                       <span class="gna-action-span-div">
                      <span class="gna-action-span">

                        @if (isSave || accountService.pageLoading || accountService.isSave) {
                          <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn">
                        } @else {
                          <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn"
                               (click)="onEditItem(item)">
                        }
                  </span>
                  <span>
                           @if (isSave || accountService.pageLoading || accountService.isSave) {
                             <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2">
                           } @else {
                             <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2"
                                  (click)="onConfirmRemove(item)">
                           }

                  </span>
                  </span>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>-->
      </mat-card-content>
    </mat-card>
  </div>

</div>
