<div class="gna-bc">
    <span>Marketing / Campagnes / Lister</span>
</div>

<div class="container-fluid">

    <div>
        <mat-card class="gna-card">

            <mat-card-header class="gna-card-header">
                <div class="container-fluid">
                    <div class="gna-list-header ">
                        <div class=" gna-list-header-1 ">
                            <span class="p-input-icon-left gna-full-width">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" placeholder="Rechercher"
                                    class="gna-full-width gna-list-ir"
                                    (input)="dt.filterGlobal(getValue($event), 'contains')" [disabled]="isSave" />
                            </span>
                        </div>
                        <div class="gna-list-header-2">
                            <button mat-raised-button color="primary" class="gna-btn-default gna-disable">Créer Campagne</button>
                        </div>
                    </div>
                </div>
            </mat-card-header>

            <div class="container-fluid">

                <div class="example-table-container mt-4">


                    <p-table #dt [value]="dataList" dataKey="id" styleClass="p-datatable-striped"
                        [tableStyle]="{ 'min-width': '75rem' }" [loading]="loading" [rows]="rows"
                        [totalRecords]="totalRecords" [paginator]="false" [first]="first" (onPage)="pageChange($event)"
                        [rowsPerPageOptions]="[5, 10, 20, 15, 30, 50, 100]"
                        [globalFilterFields]="['matricule_cmu', 'nom', 'prenom', 'genre']" [scrollable]="true"
                        [resizableColumns]="true">
                        <ng-template pTemplate="header">
                            <tr class="gna-table-header">
                                <th pSortableColumn="nom">
                                    Nom Campagne
                                    <p-sortIcon field="nom" />
                                    <!--                  <p-columnFilter type="text" field="matricule_cmu" display="menu" />-->
                                </th>
                                <th pSortableColumn="nom">
                                    Segment
                                    <!--                  <p-columnFilter type="text" field="genre" display="menu" />-->
                                    <p-sortIcon field="nom" />
                                </th>

                                <th pSortableColumn="created_at" class="gna-responsive">Debut de début
                                    <!--                  <p-columnFilter type="date" field="created_at" display="menu" />-->
                                    <p-sortIcon field="created_at" />

                                </th>
                                <th pSortableColumn="created_at" class="gna-responsive">Fin de fn
                                    <!--                  <p-columnFilter type="date" field="created_at" display="menu" />-->
                                    <p-sortIcon field="created_at" />

                                </th>

                                <th>Etat</th>
                                <th></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-element let-expanded="expanded">
                            <tr>
                                <td>
                                          @if (element.libelle ) {
                                            {{ element.libelle }}
                                          } @else {
                                            N/A
                                          }
                                </td>
                              <td>
                                @if (element.segment ) {
                                  {{ element.segment.name }}
                                } @else {
                                  N/A
                                }
                              </td>
                              <td class="gna-responsive">
                                @if (element.date_debut) {
                                  {{ element.date_debut | date: 'dd-MM-YYYY'}}
                                } @else {
                                  N/A
                                }
                              </td>

                              <td class="gna-responsive">
                                @if (element.date_debut) {
                                  {{ element.date_fin | date: 'dd-MM-YYYY'}}
                                } @else {
                                  N/A
                                }
                              </td>
                                <td>
                                  @if (setStatus(element.date_fin)) {
                                    <p-tag severity="success" value="Ouverte"></p-tag>

                                  } @else {
                                    <p-tag severity="danger" value="Cloruré"></p-tag>
                                  }
                                </td>
                                <td>
                                    <span class="gna-action-span-div">
                                        <span class="gna-action-span">
                          <p-inputSwitch
                            [(ngModel)]="element.enabled"
                            class="gna-disable"
                            [disabled]="isSave"/>

                  </span>
                                        <span class="gna-action-span">
                                            <p-button icon="pi pi-eye" class="gna-btn-eye gna-disable" pTooltip="Afficher"
                                                tooltipPosition="bottom"
                                                [disabled]="isSave"></p-button>
                                        </span>
                                       <p-button icon="pi pi-pencil" class="gna-btn-edit gna-disable"
                                                 pTooltip="Modifier"
                                                 tooltipPosition="bottom"></p-button>
                                    </span>
                                </td>
                            </tr>

                        </ng-template>

                        <ng-template pTemplate="loadingbody">
                            <tr *ngFor="let item of fakeDataList">
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td>
                                    <span class="gna-action-span-div">
                                        <span class="gna-action-span">
                                            <p-skeleton size="2rem" styleClass="mr-2" />
                                        </span>
                                       <span class="gna-action-span">
                                            <p-skeleton size="2rem" styleClass="mr-2" />
                                        </span>
                                       <span class="gna-action-span">
                                            <p-skeleton size="2rem" styleClass="mr-2" />
                                        </span>
                                        </span>
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>

                </div>

                <div class="gna-pagination-row">

                    <div class="gna-pagination">

                        @if (dataPaginationResponse) {
                        @if (dataPaginationResponse.pageSize > 0) {
                        <span class="gna-pagination-page-size" [matMenuTriggerFor]="aboveMenu"
                            [ngClass]="{'gna-pagination-disabled': isSave}">{{ dataPaginationResponse.pageSize }}
                            <i class="pi pi-angle-up"></i></span>
                        <mat-menu #aboveMenu="matMenu" yPosition="above">
                            @for (psl of pageSizeList; track psl) {
                            <button mat-menu-item (click)="onGetPageSize(psl.name)" [disabled]="isSave">{{ psl.name
                                }}</button>
                            }
                        </mat-menu>
                        } @else {
                        <span class="gna-pagination-page-size gna-pagination-disabled">0
                            <i class="pi pi-angle-up"></i></span>
                        }
                        } @else {
                        <span class="gna-pagination-page-size gna-pagination-disabled">0
                            <i class="pi pi-angle-up"></i></span>
                        }
                    </div>

                    <div class="gna-pagination">
                        @if (dataPaginationResponse) {
                        @if (currentPage > 1) {
                        <span class="gna-pagination-previous" (click)="onGoToPrevious()"
                            [ngClass]="{'gna-pagination-disabled': isSave}">
                            <i class="pi pi-arrow-left"></i>
                        </span>
                        } @else {
                        <span class="gna-pagination-previous gna-pagination-disabled">
                            <i class="pi pi-arrow-left"></i>
                        </span>
                        }
                        @if (dataPaginationResponse.pageSize > 0) {
                        <span class="gna-pagination-page" [ngClass]="{'gna-pagination-disabled': isSave}">{{ currentPage
                            }}</span>
                        } @else {
                        <span class="gna-pagination-page gna-pagination-disabled">0</span>
                        }
                        @if (currentPage < dataPaginationResponse.totalPages) { <span class="gna-pagination-next"
                            (click)="onGoToNext()" [ngClass]="{'gna-pagination-disabled': isSave}">
                            <i class="pi pi-arrow-right"></i>
                            </span>
                            } @else {
                            <span class="gna-pagination-next gna-pagination-disabled">
                                <i class="pi pi-arrow-right"></i>
                            </span>
                            }
                            } @else {
                            <span class="gna-pagination-previous gna-pagination-disabled"><i
                                    class="pi pi-arrow-left"></i></span>
                            <span class="gna-pagination-page gna-pagination-disabled">0</span>
                            <span class="gna-pagination-next gna-pagination-disabled"><i
                                    class="pi pi-arrow-right"></i></span>
                            }
                    </div>

                </div>


            </div>
        </mat-card>
    </div>

</div>
