<div class="gna-bc">
    <span>Marketing / Campagnes </span>
</div>

<div class="container-fluid">

    <div>
        <mat-card class="gna-card">

            <mat-card-header class="gna-card-header">
                <div class="container-fluid">
                    <div class="gna-list-header ">
                        <div class=" gna-list-header-1 ">
                            <span class="p-input-icon-left gna-full-width">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" placeholder="Rechercher"
                                    class="gna-full-width gna-list-ir"
                                    (input)="dt.filterGlobal(getValue($event), 'contains')" [disabled]="isSave" />
                            </span>
                        </div>
                        <div class="gna-list-header-2">
                            <button mat-raised-button color="primary" class="gna-btn-default"
                                (click)="onGoToSave()">Nouvelle campagne</button>
                        </div>
                    </div>
                </div>
            </mat-card-header>

            <div class="container-fluid">

                <div class="example-table-container mt-4">


                    <p-table #dt [value]="dataList" dataKey="id" styleClass="p-datatable-striped"
                        [tableStyle]="{ 'min-width': '75rem' }" [loading]="loading" [rows]="rows"
                        [totalRecords]="totalRecords" [paginator]="false" [first]="first" (onPage)="pageChange($event)"
                        [rowsPerPageOptions]="[5, 10, 20, 15, 30, 50, 100]"
                        [globalFilterFields]="['matricule_cmu', 'nom', 'prenom', 'genre']" [scrollable]="true"
                        [resizableColumns]="true">
                        <ng-template pTemplate="header">
                            <tr class="gna-table-header">
                                <th pSortableColumn="libelle">
                                    Nom de campagne
                                    <p-sortIcon field="libelle" />
                                    <!--                  <p-columnFilter type="text" field="matricule_cmu" display="menu" />-->
                                </th>
                                <th pSortableColumn="segment_id">
                                    Segments concernés
                                    <!--                  <p-columnFilter type="text" field="genre" display="menu" />-->
                                    <p-sortIcon field="segment_id" />
                                </th>
                                
                                <th pSortableColumn="date_debut" class="gna-responsive">Debut d'effet
                                    <!--                  <p-columnFilter type="date" field="created_at" display="menu" />-->
                                    <p-sortIcon field="date_debut" />

                                </th>
                                <th pSortableColumn="date_fin" class="gna-responsive">Fin d'effet
                                    <!--                  <p-columnFilter type="date" field="created_at" display="menu" />-->
                                    <p-sortIcon field="date_fin" />

                                </th>

                                <th></th>
                                <th></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-element let-expanded="expanded">
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-4">
                                            <p-button type="button" pRipple [pRowToggler]="element" [text]="true"
                                                [rounded]="true" [plain]="true"
                                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                                (onClick)="onGetCampaignFilesById(element)"
                                              />
                                        </div>
                                        <div class="col-8 gna-table-td-mt">
                                            @if (element.libelle ) {
                                                {{ element.libelle }}
                                            } @else {
                                                N/A
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @if (element.segment_id) {
                                        {{ getSegment(element.segment_id) }}  
                                    }@else {
                                        N/A
                                    }
                                </td>
                                <td class="gna-responsive">
                                    @if (element.date_debut) {
                                        {{ element.date_debut | date: 'dd-MM-YYYY'}}
                                    } @else {
                                        N/A
                                    }
                                </td>

                                <td class="gna-responsive">
                                    @if (element.date_debut) {
                                        {{ element.date_fin | date: 'dd-MM-YYYY'}}
                                    } @else {
                                        N/A
                                    }
                                </td>
                                <td>
                                    @if (setStatus(element.date_fin)) {
                                        <p-tag severity="success" value="Ouverte"></p-tag>

                                    } @else {
                                        <p-tag severity="danger" value="Cloruré"></p-tag>
                                    }

                                </td>
                                <td>
                                    <span class="gna-action-span-div">
                                        <span class="gna-action-span">
                                            <p-button icon="pi pi-pencil" class="gna-btn-edit"
                                                      pTooltip="Modifier"
                                                      tooltipPosition="bottom"
                                                      (click)="onViewEdit(element)"
                                                      [disabled]="isSave"></p-button>
                                        </span>
                                        <span class="gna-action-span">
                                            <p-button icon="pi pi-eye" class="gna-btn-eye" pTooltip="Afficher"
                                                tooltipPosition="bottom" (click)="onGoToView(element)"
                                                [disabled]="isSave"></p-button>
                                        </span>

                                        <span class="gna-action-span">
                                              <p-button icon="pi pi-trash"
                                                        pTooltip="Supprimer"
                                                        tooltipPosition="bottom"
                                                        class="gna-btn-delete"
                                                        [disabled]="isSave"
                                                        (click)="onConfirm(element)"></p-button>
                                           
                    
                                      </span>
                                    </span>
                                </td>
                            </tr>

                        </ng-template>

                        <ng-template pTemplate="rowexpansion" let-element>
                            <div class="container">

                                <div class="gna-table-files">

                                    <span class="gna-files-underline">Documents joints</span>
                                    <div class="row gna-table-files-row">

                                        @if (!isLoadingFiles) {

                                            @if (element.image ) {
                                            <div class="col" >
                                                <span class="gna-element-file-name">Documents </span>
                                                <br>

                                                <a href="{{ environment.customersService+element.image }}" download
                                                    target="_blank">
                                                    <img src="assets/svg/files/jpg-svgrepo-com.svg" alt="image"
                                                        class="gna-element-file gna-clickable">
                                                </a>
                                                

                                            </div>
                                            } @else {
                                            <div class="col">
                                                <span class="gna-element-file-name">N/A</span>
                                            </div>
                                            }

                                        } @else {
                                        <div class="col">
                                            <p-skeleton width="2rem" size="5rem" styleClass="mr-2" />
                                        </div>
                                        }

                                    </div>
                                </div>


                            </div>

                        </ng-template>

                        <ng-template pTemplate="loadingbody">
                            <tr *ngFor="let item of fakeDataList">
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                                <td>
                                    <span class="gna-action-span-div">
                                        <span class="gna-action-span">
                                            <p-skeleton size="2rem" styleClass="mr-2" />
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>

                </div>

                <div class="gna-pagination-row">

                    <div class="gna-pagination">

                        @if (dataPaginationResponse) {
                        @if (dataPaginationResponse.pageSize > 0) {
                        <span class="gna-pagination-page-size" [matMenuTriggerFor]="aboveMenu"
                            [ngClass]="{'gna-pagination-disabled': isSave}">{{ dataPaginationResponse.pageSize }}
                            <i class="pi pi-angle-up"></i></span>
                        <mat-menu #aboveMenu="matMenu" yPosition="above">
                            @for (psl of pageSizeList; track psl) {
                            <button mat-menu-item (click)="onGetPageSize(psl.name)" [disabled]="isSave">{{ psl.name
                                }}</button>
                            }
                        </mat-menu>
                        } @else {
                        <span class="gna-pagination-page-size gna-pagination-disabled">0
                            <i class="pi pi-angle-up"></i></span>
                        }
                        } @else {
                        <span class="gna-pagination-page-size gna-pagination-disabled">0
                            <i class="pi pi-angle-up"></i></span>
                        }
                    </div>

                    <div class="gna-pagination">
                        @if (dataPaginationResponse) {
                        @if (currentPage > 1) {
                        <span class="gna-pagination-previous" (click)="onGoToPrevious()"
                            [ngClass]="{'gna-pagination-disabled': isSave}">
                            <i class="pi pi-arrow-left"></i>
                        </span>
                        } @else {
                        <span class="gna-pagination-previous gna-pagination-disabled">
                            <i class="pi pi-arrow-left"></i>
                        </span>
                        }
                        @if (dataPaginationResponse.pageSize > 0) {
                        <span class="gna-pagination-page" [ngClass]="{'gna-pagination-disabled': isSave}">{{ currentPage
                            }}</span>
                        } @else {
                        <span class="gna-pagination-page gna-pagination-disabled">0</span>
                        }
                        @if (currentPage < dataPaginationResponse.totalPages) { <span class="gna-pagination-next"
                            (click)="onGoToNext()" [ngClass]="{'gna-pagination-disabled': isSave}">
                            <i class="pi pi-arrow-right"></i>
                            </span>
                            } @else {
                            <span class="gna-pagination-next gna-pagination-disabled">
                                <i class="pi pi-arrow-right"></i>
                            </span>
                            }
                            } @else {
                            <span class="gna-pagination-previous gna-pagination-disabled"><i
                                    class="pi pi-arrow-left"></i></span>
                            <span class="gna-pagination-page gna-pagination-disabled">0</span>
                            <span class="gna-pagination-next gna-pagination-disabled"><i
                                    class="pi pi-arrow-right"></i></span>
                            }
                    </div>

                </div>


            </div>
        </mat-card>
    </div>

</div>