<div class="gna-bc">
  <span>Marketing / Campagne / detail </span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">
          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">
              <button mat-raised-button color="primary" class="gna-full-width gna-btn-default"
                (click)="onGoToBack()">Retour</button>
            </div>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="container-fluid">
          <div class="example-table-container mt-4">
            <div class="card">
              <div class="card-body gna-card-body" *ngIf="elementData">

                <div class="row">
                  <div class="col">
                    @if (setStatus(elementData.date_fin)) {
                    <p-tag severity="success" value="Ouvert"></p-tag>
                    } @else {
                    <p-tag severity="danger" value="Clôturé"></p-tag>
                    }

                  </div>
                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">Nom campagne : </span>
                    <span class="gna-view-value">
                      @if (elementData.libelle ) {
                      {{ elementData.libelle }}
                      } @else {
                      N/A
                      }
                    </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label"> Lien : </span>
                    <span class="gna-view-value">
                      @if (elementData.lien ) {
                      <a [href]='elementData.lien' target="_blank" rel="noopener noreferrer"> {{ elementData.lien }} </a>
                      } @else {
                      N/A
                      }
                    </span>
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label"> texte_lien : </span>
                    <span class="gna-view-value">
                      @if (elementData.lien ) {
                      {{elementData.texte_lien }}
                      } @else {
                      N/A
                      }
                    </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label"> Message : </span>
                    <span class="gna-view-value">
                      @if (elementData.lien ) {
                      {{elementData.message }}
                      } @else {
                      N/A
                      }
                    </span>
                  </div>


                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">Date de debut : </span>
                    <span class="gna-view-value">
                      @if (elementData.date_debut ) {
                      {{ elementData.date_debut | date: 'dd-MM-YYYY' }}
                      } @else {
                      N/A
                      }
                    </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">Date de fin : </span>
                    <span class="gna-view-value">
                      @if (elementData.date_fin ) {
                      {{ elementData.date_fin | date: 'dd-MM-YYYY'}}
                      } @else {
                      N/A
                      }
                    </span>
                  </div>




                </div>

              </div>



            </div>
            <div class="row gna-files">
              <span class="gna-files-underline">Documents joints</span>
              <div class="row">

                @if (elementData.image) {

                <div class="col-6 col-sm-6 col-md-2 col-lg-1 col-xl-1">
                  <span class="gna-element-file-name">Documents </span>
                  <br>

                  <a href="{{ environment.customersService+elementData.image }}" download target="_blank">
                    <img src="assets/svg/files/jpg-svgrepo-com.svg" alt="document"
                      class="gna-element-file gna-clickable">
                  </a>

                </div>

                } @else {
                <div class="col">
                  <span class="gna-element-file-name">N/A</span>
                </div>
                }



              </div>
            </div>
          </div>

        </div>
      </mat-card-content>

    </mat-card>

  </div>

</div>