mat-tree {
  padding-top: 60px;
  background: transparent linear-gradient(180deg, #F6993FE6 0%, #F08217 69%, #915C27 100%) 0 0 no-repeat padding-box;
  height: 100% !important
}

.mat-tree-node {
  font-size: 11px!important;
  color: white!important;
}

.mat-tree-node {
  min-height: 38px!important;
}

.gna-icon-ml {
  margin-right: 3px;
  margin-left: 5px;
}

mat-icon {
  margin-top: 5px;
  font-size: 15px;
}

.mtn-mh {
  min-height: 28px!important;
  padding-left: 30px;
}


.mtn-selected .mat-tree-node {
  position: relative!important;
  background-color: #F8F7F7!important;
  opacity: 0.35 !important;
}

.mtn-selected mat-icon {
  z-index: 1!important;
  font-weight: bold!important;
  color: white!important;
}

.mtn-selected span {
  z-index: 2!important;
  font-weight: bold!important;
  color: white!important;
}

.gna-tree-node {
  cursor: pointer;
}
