


/*
mat-tree {
  padding-top: 60px;
  !*background: transparent linear-gradient(180deg, #EF8F00 0%, #F08217 69%, #915C27 100%) 0 0 no-repeat padding-box;*!
  background-color: #EF8F00;
  height: 100%;
}

.mat-tree-node {
  font-size: 12px!important;
  color: white!important;
}

.mat-tree-node {
  min-height: 35px!important;
}

.gna-icon-ml {
  margin-right: 1px;
  margin-left: 2px;
}

mat-icon {
  margin-top: 5px;
  font-size: 14px;
}

.mtn-mh {
  min-height: 25px!important;
  padding-left: 5px;
  padding-right: 5px;
}


.mtn-selected .mat-tree-node {
  position: relative!important;
  background-color: #F8F7F7!important;
  opacity: 0.35 !important;
}

.mtn-selected mat-icon {
  z-index: 1!important;
  font-weight: bold!important;
  color: white!important;
}

.mtn-selected span {
  z-index: 2!important;
  font-weight: bold!important;
  color: white!important;
}

.gna-tree-node {
  cursor: pointer;
  margin-left: 5px!important;
}
*/
