<div class="gna-bc">
  <span>Marketing / Réclamations / Tickets ouverts / Lister</span>
</div>

<div class="container-fluid">

  <div>
    <mat-card class="gna-card">

      <mat-card-header class="gna-card-header">
        <div class="container-fluid">
          <div class="gna-list-header row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                            <span class="p-input-icon-left gna-full-width">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" placeholder="Rechercher"
                                       class="gna-full-width gna-list-ir"
                                       (input)="dt.filterGlobal(getValue($event), 'contains')" [disabled]="isSave" />
                            </span>
            </div>
          </div>
        </div>
      </mat-card-header>

      <div class="container-fluid">

        <div class="example-table-container mt-4">


          <p-table #dt [value]="dataList" dataKey="id" styleClass="p-datatable-striped"
                   [tableStyle]="{ 'min-width': '75rem' }" [loading]="loading" [rows]="rows"
                   [totalRecords]="totalRecords" [paginator]="false" [first]="first" (onPage)="pageChange($event)"
                   [rowsPerPageOptions]="[5, 10, 20, 15, 30, 50, 100]"
                   [globalFilterFields]="['matricule_cmu', 'nom', 'prenom', 'genre']" [scrollable]="true"
                   [resizableColumns]="true">
            <ng-template pTemplate="header">
              <tr class="gna-table-header">
                <th pSortableColumn="numero_compte">
                  Numéro
                  Ticket
                  <p-sortIcon field="numero_compte" />
                  <!--                  <p-columnFilter type="text" field="matricule_cmu" display="menu" />-->
                </th>
                <th pSortableColumn="numero_assure">
                  Numéro Assuré
                  <p-sortIcon field="numero_assure" />
                  <!--                  <p-columnFilter type="text" field="matricule_cmu" display="menu" />-->
                </th>
                <th pSortableColumn="nom">Nom Assuré
                  <!--                  <p-columnFilter type="text" field="nom" display="menu" />-->
                  <p-sortIcon field="nom" />
                </th>
                <th pSortableColumn="nom">Téléphone
                  <!--                  <p-columnFilter type="text" field="nom" display="menu" />-->
                  <p-sortIcon field="contact" />
                </th>
                <th pSortableColumn="code_segment" class="gna-responsive">Objet
                  <!--                  <p-columnFilter type="text" field="prenom" display="menu" />-->
                  <p-sortIcon field="code_segment" />
                </th>
                <th pSortableColumn="code_segment" class="gna-responsive">Catégorie
                  <!--                  <p-columnFilter type="text" field="prenom" display="menu" />-->
                  <p-sortIcon field="code_segment" />
                </th>
                <th pSortableColumn="created_at" class="gna-responsive">Enregistrement
                  <!--                  <p-columnFilter type="date" field="created_at" display="menu" />-->
                  <p-sortIcon field="created_at" />
                <th></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-element let-expanded="expanded">
              <tr>
                <td>
                  <div class="row">
                    <div class="col-4">
                      <p-button type="button" pRipple [pRowToggler]="element" [text]="true"
                                [rounded]="true" [plain]="true"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
                    </div>
                    <div class="col-8 gna-table-td-mt">
                      @if (element.numero_ticket) {
                        {{element.numero_ticket }}
                      } @else {
                        N/A
                      }
                    </div>
                  </div>
                </td>

                <td>
                  @if (element.user && element.user.numero_assure ) {
                    {{element.user.numero_assure }}
                  } @else {
                    N/A
                  }
                </td>
                <td>
                  @if (element.user && element.user.nom) {
                    {{ element.user.prenom }} {{ element.user.nom }}
                  } @else {
                    N/A
                  }
                <td>
                  @if (element.user && element.user.contact) {
                    {{ element.user.contact }}
                  } @else {
                    N/A
                  }
                </td>
                <td class="gna-responsive">
                  @if (element.description) {
                    {{ element.description}}
                  } @else {
                    N/A
                  }
                </td>
                <td>
                  @if (element.objet && element.objet.libelle) {
                    {{ element.objet.libelle }}
                  } @else {
                    N/A
                  }
                </td>
                <td class="gna-responsive">
                  @if (element.created_at) {
                    {{ element.created_at | date: 'dd-MM-YYYY'}} {{ element.created_at | date:
                    'hh:mm:ss'}}
                  } @else {
                    N/A
                  }
                </td>
                <td>
                                    <span class="gna-action-span-div">
                                      <span class="gna-action-span"
                                      *ngIf="element.objet">

                                         <button mat-raised-button color="primary"
                                                 class="gna-full-width gna-btn-default"
                                                 (click)="onConfirmToggleEnabled(element)"
                                                 [disabled]="isSave">Fermer</button>

                  </span>
                                      <!--  <span class="gna-action-span">
                                            <p-button icon="pi pi-eye" class="gna-btn-eye" pTooltip="Voir"
                                                      tooltipPosition="bottom" (click)="onGoToView(element)"
                                                      [disabled]="isSave"></p-button>
                                        </span>-->
                                    </span>
                </td>
              </tr>

            </ng-template>

            <ng-template pTemplate="rowexpansion" let-element>
              <div class="container">

                <div class="gna-table-files">

                  <span class="gna-files-underline">Pièces jointes</span>
                  <div class="gna-table-files-row">

                    @if (element.medias && element.medias.length > 0) {
                      <div class="col" *ngFor="let file of element.medias">
                        <span class="gna-element-file-name">{{ file.libelle }}</span>
                        <br>

                        @if (file.type == "image/jpeg" ) {
                          <a href="{{ environment.customersService+file.lien }}" download target="_blank">
                            <img src="assets/svg/files/jpg-svgrepo-com.svg" alt="{{ file.libelle }}" class="gna-element-file gna-clickable">
                          </a>
                        } @else if (file.type == "image/png") {
                          <a href="{{ environment.customersService+file.lien }}" download target="_blank">
                            <img src="assets/svg/files/png-svgrepo-com.svg" alt="{{ file.libelle }}" class="gna-element-file gna-clickable">
                          </a>
                        } @else if (file.type == "pdf") {
                          <a href="{{ environment.customersService+file.lien }}" download target="_blank">
                            <img src="assets/svg/files/pdf-svgrepo-com.svg" alt="{{ file.libelle }}" class="gna-element-file gna-clickable">
                          </a>
                        } @else if (file.type == "doc" || "doc") {
                          <a href="{{ environment.customersService+file.lien }}" download target="_blank">
                            <img src="assets/svg/files/word-svgrepo-com.svg" alt="{{ file.libelle }}" class="gna-element-file gna-clickable">
                          </a>
                        }

                      </div>
                    } @else {
                      <div class="col">
                        <span class="gna-element-file-name">N/A</span>
                      </div>
                    }

                  </div>


                </div>


              </div>

            </ng-template>

            <ng-template pTemplate="loadingbody">
              <tr *ngFor="let item of fakeDataList">
                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                <td class="gna-responsive"><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                <td><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                <td class="gna-responsive"><p-skeleton width="8rem" styleClass="mb-4"></p-skeleton></td>
                <td>
                                    <span class="gna-action-span-div">
                                       <span class="gna-action-span">
                                            <p-skeleton size="2rem" styleClass="mr-2" />
                                        </span>
                                       <!-- <span class="gna-action-span">
                                            <p-skeleton size="2rem" styleClass="mr-2" />
                                        </span>-->
                                    </span>
                </td>
              </tr>
            </ng-template>

          </p-table>

        </div>

        <div class="gna-pagination-row">

          <div class="gna-pagination">

            @if (dataPaginationResponse) {
              @if (dataPaginationResponse.pageSize > 0) {
                <span class="gna-pagination-page-size" [matMenuTriggerFor]="aboveMenu"
                      [ngClass]="{'gna-pagination-disabled': isSave}">{{ dataPaginationResponse.pageSize }}
                  <i class="pi pi-angle-up"></i></span>
                <mat-menu #aboveMenu="matMenu" yPosition="above">
                  @for (psl of pageSizeList; track psl) {
                    <button mat-menu-item (click)="onGetPageSize(psl.name)" [disabled]="isSave">{{ psl.name
                      }}</button>
                  }
                </mat-menu>
              } @else {
                <span class="gna-pagination-page-size gna-pagination-disabled">0
                            <i class="pi pi-angle-up"></i></span>
              }
            } @else {
              <span class="gna-pagination-page-size gna-pagination-disabled">0
                            <i class="pi pi-angle-up"></i></span>
            }
          </div>

          <div class="gna-pagination">
            @if (dataPaginationResponse) {
              @if (currentPage > 1) {
                <span class="gna-pagination-previous" (click)="onGoToPrevious()"
                      [ngClass]="{'gna-pagination-disabled': isSave}">
                            <i class="pi pi-arrow-left"></i>
                        </span>
              } @else {
                <span class="gna-pagination-previous gna-pagination-disabled">
                            <i class="pi pi-arrow-left"></i>
                        </span>
              }
              @if (dataPaginationResponse.pageSize > 0) {
                <span class="gna-pagination-page" [ngClass]="{'gna-pagination-disabled': isSave}">{{ currentPage
                  }}</span>
              } @else {
                <span class="gna-pagination-page gna-pagination-disabled">0</span>
              }
              @if (currentPage < dataPaginationResponse.totalPages) { <span class="gna-pagination-next"
                                                                            (click)="onGoToNext()" [ngClass]="{'gna-pagination-disabled': isSave}">
                            <i class="pi pi-arrow-right"></i>
                            </span>
              } @else {
                <span class="gna-pagination-next gna-pagination-disabled">
                                <i class="pi pi-arrow-right"></i>
                            </span>
              }
            } @else {
              <span class="gna-pagination-previous gna-pagination-disabled"><i
                class="pi pi-arrow-left"></i></span>
              <span class="gna-pagination-page gna-pagination-disabled">0</span>
              <span class="gna-pagination-next gna-pagination-disabled"><i
                class="pi pi-arrow-right"></i></span>
            }
          </div>

        </div>


      </div>
    </mat-card>
  </div>

</div>

