<div class="gna-bc">
  <span>Administration / Gestion des utilisateurs internes / Utilisateurs / Créer</span>
</div>

<div class="container-fluid">

  <div>
    <mat-card class="gna-card">

      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-save gna-full-width gna-disable">Enregistrer</button>
              } @else {

                @if (!formProfile.valid) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onGetNotBlankAlert()">Enregistrer</button>

                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="openConfirmAdd()">Enregistrer</button>
                }
              }
            </div>

          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="mt-4">

          <form
                [formGroup]="formProfile">


            <div class="row pb-2 gna-form">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="firstName">Prénom
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>
                <p-iconField iconPosition="right">
                  <p-inputIcon styleClass="pi pi-info" />
                  <input pInputText
                         type="text" id="firstName" aria-describedby="name-help" class="gna-form-input"
                         required
                         formControlName="firstName"
                         [readonly]="isSave || accountService.pageLoading || accountService.isSave"/>
                </p-iconField>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="lastName">Nom
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>
                <p-iconField iconPosition="right">
                  <p-inputIcon styleClass="pi pi-info" />
                  <input pInputText
                         type="text" id="lastName" aria-describedby="name-help" class="gna-form-input"
                         required
                         formControlName="lastName"
                         [readonly]="isSave || accountService.pageLoading || accountService.isSave"/>
                </p-iconField>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Genre
                  <span class="gna-text-red gna-text-bold">*</span></label>
                <p-dropdown
                  emptyMessage="Aucun résultat trouvé"
                  formControlName="gender" [options]="genders" optionLabel="viewValue"
                  placeholder="Selectionner"
                  [showClear]="true"
                  class="gna-form-dropdown"
                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
              </div>

         <!--     <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="address">Adresse
                </label>
                <p-iconField iconPosition="right">
                  <p-inputIcon styleClass="pi pi-info" />
                  <input pInputText
                         type="text" id="address" aria-describedby="name-help" class="gna-form-input"
                         formControlName="address"
                         [readonly]="isSave || accountService.pageLoading || accountService.isSave"/>
                </p-iconField>
              </div>-->

              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="phone">Téléphone
                  <span class="gna-text-red gna-text-bold">*</span></label>
                <p-iconField iconPosition="right">
                  <p-inputIcon styleClass="pi pi-info" />
                  <input pInputText
                         id="phone"
                         class="gna-form-input"
                         inputmode="numeric"
                         pattern="^\d{10}$"
                         required
                         formControlName="phone"
                    [readonly]="isSave || accountService.pageLoading || accountService.isSave"/>
                </p-iconField>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="email">Nom d'utilisateur
                  <span class="gna-text-red gna-text-bold">*</span></label>
                <p-iconField iconPosition="right">
                  <p-inputIcon styleClass="pi pi-info" />
                  <input pInputText
                         type="email" id="email" aria-describedby="name-help" class="gna-form-input"
                         formControlName="email"
                         [readonly]="isSave || accountService.pageLoading || accountService.isSave"/>
                </p-iconField>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Profil
                  <span class="gna-text-red gna-text-bold">*</span></label>
                <p-dropdown [options]="profileList"
                            optionLabel="name"
                            emptyMessage="Aucun résultat trouvé"
                            placeholder="Selectionner"
                            class="gna-form-dropdown"
                            formControlName="userProfile"
                            [filter]="true"
                            filterBy="name"
                            [showClear]="true"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                  <ng-template let-item pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ item.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>

            </div>
          </form>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
