<div class="gna-bc">
  <span>Configuration des produits / Groupes de produits / Modifier</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-save gna-full-width gna-disable">Enregistrer</button>
              } @else {

                @if (!formData.valid) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onGetNotBlankAlert()">Enregistrer</button>

                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onConfirm()">Enregistrer</button>
                }
              }
            </div>

          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="container-fluid">
          <form
            [formGroup]="formData">
            <div class="row pb-2 gna-form">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="name">Code Groupe produit
                  <span class="gna-text-red gna-text-bold">*</span></label>
                <p-iconField iconPosition="right">
                  <p-inputIcon styleClass="pi pi-info" />
                  <input pInputText
                         type="text" id="code" aria-describedby="name-help"  class="gna-form-input"
                         required
                         formControlName="code"/>
                </p-iconField>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="name">Nom Groupe produit <span class="gna-text-red gna-text-bold">*</span></label>
                <p-iconField iconPosition="right">
                  <p-inputIcon styleClass="pi pi-info" />
                  <input pInputText
                         type="text" id="name" aria-describedby="name-help" class="gna-form-input"
                         required
                         formControlName="name"/>
                </p-iconField>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                @if (branchList && branchList.length > 0) {
                  <label>Branche
                    <span class="gna-text-red gna-text-bold">*</span>
                  </label>

                  <p-dropdown [options]="branchList"
                              optionLabel="name"
                              optionValue="name"
                              placeholder="Selectionner"
                              class="gna-form-dropdown"
                              formControlName="branchId"
                              [filter]="true"
                              filterBy="name"
                              [showClear]="true"
                              [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                    <ng-template let-branch pTemplate="branch">
                      <div class="flex align-items-center gap-2">
                        <div>{{ branch.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                } @else {
                  <label>Branche
                    <span class="gna-text-red gna-text-bold">*</span>
                  </label>
                  <p-dropdown placeholder="Selectionner"
                              class="gna-form-dropdown" [disabled]="isDisable"></p-dropdown>
                }
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="accessoryAmountCompany">Montant Accessoires Compagnie
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>
                <p-inputNumber
                  id="accessoryAmountCompany" aria-describedby="accessory-amount-company-help"
                  placeholder="Montant"
                  mode="currency"
                  inputId="currency-ivory-cost"
                  currency="XOF"
                  locale="ci-CI"
                  [minFractionDigits]="2"
                  class="gna-form-inputNumber"
                  formControlName="accessoryAmountCompany"
                  [readonly]="isSave || accountService.pageLoading"/>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="accessoryAmountCompany">Montant Accessoires Intermédiaire
                  <span class="gna-text-red gna-text-bold">*</span></label>
                <p-inputNumber
                  id="accessoryAmountIntermediate"
                  aria-describedby="accessory-amount-intermediate-help"
                  placeholder="Montant"
                  mode="currency"
                  inputId="currency-ivory-cost"
                  currency="XOF"
                  locale="ci-CI"
                  [minFractionDigits]="2"
                  class="gna-form-inputNumber"
                  formControlName="accessoryAmountIntermediate"
                  [readonly]="isSave || accountService.pageLoading"/>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="accessoryTaxRate">Taux Taxe Accessoires
                  <span class="gna-text-red gna-text-bold">*</span></label>
                <p-inputNumber
                  id="accessoryTaxRate"
                  placeholder="Pourcentage" class="gna-form-input"
                  inputId="percent"
                  suffix="%"
                  required
                  formControlName="accessoryTaxRate"
                  [readonly]="isSave || accountService.pageLoading"/>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Règlement</label>
                <p-dropdown formControlName="paymentMethodId" [options]="paymentMethodList"
                            optionLabel="name"
                              optionValue="name" placeholder="Selectionner"
                            class="gna-form-dropdown"
                            [showClear]="true"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Périodicité</label>
                <br>
                <p-dropdown formControlName="periodicityId" [options]="periodicityList"
                            optionLabel="name"
                              optionValue="name" placeholder="Selectionner"
                            class="gna-form-dropdown"
                            [showClear]="true"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Secteur d'assurance</label>
                <br>
                <p-dropdown formControlName="insuranceSectorId" [options]="insuranceSectorList"
                            optionLabel="name"
                              optionValue="name" placeholder="Selectionner"
                            class="gna-form-dropdown"
                            [showClear]="true"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <label>Mode de gestion</label>
                <p-dropdown formControlName="managementMode" [options]="yesOrNoList" optionLabel="name"
                              optionValue="name" placeholder="Selectionner"
                            class="gna-form-dropdown"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <label>Bénéficiaires</label>
                <p-dropdown formControlName="beneficiaries" [options]="yesOrNoList" optionLabel="name"
                              optionValue="name" placeholder="Selectionner"
                            class="gna-form-dropdown"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <label>Taux de couverture</label>
                <p-dropdown formControlName="coverageRate" [options]="yesOrNoList" optionLabel="name"
                              optionValue="name" placeholder="Selectionner"
                            class="gna-form-dropdown"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <!--       <label>APIs</label>
                       <br>
                       <p-multiSelect [options]="apiList"
                                   optionLabel="name"
                              optionValue="name" placeholder="APIs"
                                   class="gna-form-multiselect"
                                   formControlName="apiIds"
                                      [filter]="false"
                                      [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                         <ng-template let-api pTemplate="api">
                           <div class="flex align-items-center gap-2">
                             <div>{{ api.name }}</div>
                           </div>
                         </ng-template>
                       </p-multiSelect>-->
                <label>Description</label>
                <textarea rows="2" pInputTextarea formControlName="description"
                          class="gna-form-input"></textarea>
              </div>
              <!--<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label>Description</label>
                <textarea rows="2" pInputTextarea formControlName="description"
                          class="gna-form-input"></textarea>
              </div>-->
              <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <label>Clauses Contractuelles</label>
                <button
                  type="button"
                  mat-stroked-button color="primary" class="example-full-width gna-btn-clauses"
                  (click)="openClauseEditorDialog()">Ajouter</button>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Avis d'échéance</label>
                <br>
                <p-checkbox formControlName="maturityNotice" [binary]="true" inputId="maturityNotice"
                            class="gna-form-checkbox"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-checkbox>
              </div>
            </div>
          </form>
          <mat-divider class="mt-2"></mat-divider>
          <div class="row gna-form mb-3">

            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
              @if (guaranteeList && guaranteeList.length > 0) {
                <label>Garantie
                  <span class="gna-text-red gna-text-bold">*</span></label>
                <p-dropdown [options]="guaranteeList"
                            optionLabel="name"
                              optionValue="name"
                            [filter]="true"
                            filterBy="name"
                            [showClear]="true"
                            placeholder="Selectionner"
                            class="gna-form-dropdown"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"
                            [(ngModel)]="selectGuarantee">
                  <ng-template let-guarantee pTemplate="item">
                    {{ guarantee.name }}
                  </ng-template>
                </p-dropdown>
              } @else {
                <label>Garantie <span class="gna-text-red gna-text-bold">*</span></label> <br>
                <p-dropdown placeholder="Selectionner"
                            class="gna-form-dropdown" [disabled]="isDisable"></p-dropdown>
              }
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-9 col-xl-9 mt-5 btn-new">
              @if (!selectGuarantee || guaranteeList && guaranteeList.length <= 0) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-add gna-disable">Ajouter</button>
              } @else {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-add"
                        (click)="onAddGuaranteeToTable()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Ajouter</button>
              }
            </div>

          </div>
          <div>
            <table class="table table-borderless gpg-table">
              <thead>
              <tr>
                <th>Code Garantie</th>
                <th>Nom Garantie</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                @for (sg of selectGuaranteeList | keyvalue; track sg) {
                  <tr>
                    <td>
                      @if (sg.value.guaranteeCode) {
                        {{ sg.value.guaranteeCode }}
                      } @else {
                        {{ sg.value.code }}
                      }
                    </td>
                    <td>
                      @if (sg.value.guaranteeName) {
                        {{ sg.value.guaranteeName }}
                      } @else {
                        {{ sg.value.name }}
                      }
                    </td>
                    <td>
                              <span class="gna-action-span-div">
                      <span class="gna-action-span">
                          <p-checkbox  [binary]="true" [(ngModel)]="sg.value.mandatory"
                                       [readonly]="isSave || accountService.pageLoading || accountService.isSave"
                                       class="gna-table-checkbox"></p-checkbox>
                      </span>
                                        <span class="gna-action-span">
                                    @if (isSave || accountService.pageLoading || accountService.isSave) {
                                      <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2">
                                    } @else {
                                      <img src="assets/images/table-trash-small.svg" alt="" class="gna-table-btn-2"
                                           (click)="onRemoveGuaranteeFromList(sg.value)">
                                    }
                                        </span>
                              </span>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
