<div class="gna-dialog-logo">
  <img src="assets/gna/images/gna-logo.png">
</div>
<div mat-dialog-content>

  <ng-container>

    <p class="text-danger text-center">
      <mat-icon class="gna-mi-pt">error</mat-icon>
    </p>
    <p class="text-danger gna-text-bold text-center">
      Impossible de contacter le service.
    </p>
    <p class="gna-text-secondary">
      - Vérifier votre connexion réseau/internet.
    </p>
    <p class="gna-text-secondary">
      - Contacter l'administrateur si ce problème persiste.
    </p>
  </ng-container>

  <div class="text-center" style="color: #717171; font-size: 12px">
    Vous pouvez cliquer sur le buton OK pour continuer.
  </div>
  </div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" class="gna-btn-default-2 gna-btn-save">OK</button>
</div>
