<div class="gna-main-content">

  <div class="gna-content-header">
    <p-breadcrumb [model]="items" [home]="home" class="gna-breadcrumb"></p-breadcrumb>
  </div>

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="gna-card-header-title">
          <span>Segment</span>
        </div>
        <div class="gna-card-header-btn">
          <div class="gna-card-header-btn-1">
            <button mat-raised-button
                    class="gna-btn-default gna-btn-cancel"
                    (click)="onBack()"
                    [disabled]="isSave">Annuler</button>
          </div>
          <div class="gna-card-header-btn-2">
            @if (!formData.valid) {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      (click)="onGetNotBlankAlert()">Enregistrer</button>
            } @else {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      [disabled]="!formData.valid || isSave"
                      (click)="onConfirm()">Enregistrer</button>
            }
          </div>

        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="mt-4">

          <form
            [formGroup]="formData">
            <div class="row pb-2">
              <div class="col-3">
                <mat-form-field appearance="outline" class="example-full-width gna-mff">
                  <mat-label>Code</mat-label>
                  <input matInput
                         disabled>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" class="example-full-width gna-mff">
                  <mat-label>Nom</mat-label>
                  <input matInput
                         required
                         formControlName="name"
                         [readonly]="isSave">
                </mat-form-field>
              </div>
            </div>

          </form>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
