<div class="gna-bc">
  <span>Marketing / Segments / Créer</span>
</div>


<div class="container-fluid">

  <div>
    <mat-card class="gna-card">

      <mat-card-header class="gna-card-header">
        <div class="container-fluid">
          <div class="gna-list-header ">
            <div class=" gna-list-header-1 "></div>
            <div class="gna-list-header-2 row">
              <div class="col-md-6 col-sm-6">
                <button mat-raised-button class="gna-btn-default gna-btn-cancel" (click)="onBack()"
                  [disabled]="isSave || accountService.pageLoading || accountService.isSave">Annuler</button>

              </div>

              <div class="col-md-6 col-sm-6">

                @if (!formData.valid) {
                <button mat-raised-button class="gna-btn-default gna-btn-save"
                  (click)="onGetNotBlankAlert()">Enregistrer</button>
                } @else {
                <button mat-raised-button class="gna-btn-default gna-btn-save"
                  [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                  (click)="onConfirm()">Enregistrer</button>
                }
              </div>
            </div>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="container-fluid">
          <form [formGroup]="formData">
            <div class="row pb-2 gna-form">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="name">Nom Segment</label>
                <input pInputText type="text" id="name" aria-describedby="name-help" placeholder="Nom Segment *"
                  class="gna-form-input" required formControlName="name" />
              </div>
            </div>
          </form>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>