<div class="gna-bc">
  <span>Marketing / Segmentation / Créer</span>
</div>


<div class="container-fluid">

  <div>
    <mat-card class="gna-card">

      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onGoToBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

                @if (isSave || accountService.pageLoading || accountService.isSave) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width gna-disable">Enregistrer</button>
                } @else {

                  @if (!formData.valid) {
                    <button mat-raised-button
                            class="gna-btn-default gna-btn-save gna-full-width"
                            [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                            (click)="onGetNotBlankAlert()">Enregistrer</button>

                  } @else {
                    <button mat-raised-button
                            class="gna-btn-default gna-btn-save gna-full-width"
                            [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                            (click)="onConfirm()">Enregistrer</button>
                  }
                }
              </div>

          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="container-fluid">
          <form [formGroup]="formData">
            <div class="row pb-2 gna-form">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="name">Nom</label>
                <input pInputText type="text" id="name" aria-describedby="name-help" placeholder="Nom Segment *"
                  class="gna-form-input" required formControlName="name" />
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <label>Description</label>
                <textarea pInputTextarea formControlName="description"
                          class="gna-form-input"></textarea>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Par défaut</label>
                <br>
                <p-checkbox formControlName="selected" [binary]="true" inputId="selected"
                            class="gna-form-checkbox"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-checkbox>
              </div>
            </div>
          </form>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
