<div class="gna-bc">
  <span>Gestion des listes / Partenaires / Modification</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="gna-card-header-btn row">
          <div class="col-12 col-sm-6">
            <button mat-raised-button
                    class="gna-btn-default gna-btn-cancel"
                    (click)="onBack()"
                    [disabled]="isSave || accountService.pageLoading || accountService.isSave">Annuler</button>
          </div>
          <div class="col-12 col-sm-6">
            @if (!formData.valid) {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      (click)="onGetNotBlankAlert()">Modifier</button>
            } @else {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                      (click)="openConfirmEdit()">Modifier</button>
            }
          </div>

        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="container-fluid">
          <form
            [formGroup]="formData">
            <div class="row pb-2 gna-form">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="name">Nom Partenaire</label>
                <input pInputText
                       type="text" id="name" aria-describedby="name-help" placeholder="Nom Partenaire *" class="gna-form-input"
                       required
                       formControlName="name"/>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                @if (typeList && typeList.length > 0) {
                  <label>Type Partenaire</label>
                  <p-dropdown [options]="typeList"
                              optionLabel="name" optionValue="name" placeholder="Type partenaire *"
                              class="gna-form-dropdown"
                              formControlName="typeId"
                              [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                    <ng-template let-type pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ type.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                } @else {
                  <label>Type Partenaire</label>
                  <br>
                  <p-dropdown placeholder="Type Partenaire *"
                              class="gna-form-dropdown" [disabled]="isDisable"></p-dropdown>
                }
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                @if (groupList && groupList.length > 0) {
                  <label>Groupe Partenaire</label>
                  <p-dropdown [options]="groupList"
                              optionLabel="name" optionValue="name" placeholder="Groupe partenaire"
                              class="gna-form-dropdown"
                              formControlName="groupId"
                              [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                    <ng-template let-type pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ type.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                } @else {
                  <label>Groupe Partenaire</label>
                  <br>
                  <p-dropdown placeholder="Groupe Partenaire"
                              class="gna-form-dropdown" [disabled]="isDisable"></p-dropdown>
                }
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="address">Adresse</label>
                <input pInputText
                       type="text" id="address" aria-describedby="name-help" placeholder="Adresse" class="gna-form-input"
                       formControlName="address"/>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="address">Téléphone</label>
                <input pInputText pKeyFilter="num"
                       type="text" id="phone" aria-describedby="name-help" placeholder="Téléphone" class="gna-form-input"
                       pattern="^\d{10}$"
                       formControlName="phone"/>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="email">Email</label>
                <input pInputText
                       type="email" id="email" aria-describedby="name-help" placeholder="Email" class="gna-form-input"
                       formControlName="email"/>
              </div>
            </div>
          </form>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
