

  <div class="gna-dialog-logo">
    <img src="assets/gna/images/gna-logo.png">
  </div>
  <div mat-dialog-content>
    <h5 class="gna-text-secondary text-center mb-5">
      Veuillez renseigner tous les champs obligatoires (*) avant d'éffectuer l'enregistrement.
      <div class="gna-dialog-bar">
      </div>
    </h5>
    <div class="text-center" style="color: #717171; font-size: 12px">
      Vous pouvez cliquer sur le buton OK pour continuer vos actions d'enregistrement.
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" class="gna-btn-default-2" color="primary">OK</button>
  </div>



