<div class="gna-bc">
  <span>Configuration des produits / Tarification des primes / Créer</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-save gna-full-width gna-disable">Enregistrer</button>
              } @else {

                @if (!formQuotation.valid) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onGetNotBlankAlert()">Enregistrer</button>

                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onConfirm()">Enregistrer</button>
                }
              }
            </div>

          </div>
        </div>
      </mat-card-header>
      <mat-card-content>

        <div class="container-fluid">
          <form
            [formGroup]="formQuotation">
            <div class="row pb-2 gna-form">

              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="name">
                  Nom Tarification
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>
                <p-iconField iconPosition="right">
                  <p-inputIcon styleClass="pi pi-info" />
                <input pInputText
                       type="text" id="name" aria-describedby="name-help"
                       class="gna-form-input"
                       required
                       formControlName="name"
                       [readonly]="isSave || accountService.pageLoading || accountService.isSave || loadingData"/>
                </p-iconField>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Groupe Produit
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>

                <p-dropdown [options]="productGroupList"
                            optionLabel="name"
                            emptyMessage="Aucun résultat trouvé"
                            placeholder="Sélectionner"
                            class="gna-form-dropdown"
                            formControlName="productGroup"
                            [filter]="true"
                            filterBy="name"
                            [showClear]="true"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave || loadingData">
                  <ng-template let-item pTemplate="item">
                    <div class="flex align-items-center gap-2"
                         (click)="onGetGuaranteeByProductGroup(item)">
                      <div>{{ item.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Garantie
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>

                @if (guaranteesByProductGroup && guaranteesByProductGroup.length > 0) {

                  <p-dropdown [options]="guaranteesByProductGroup"
                              optionLabel="guaranteeName"
                              emptyMessage="Aucun résultat trouvé"
                              placeholder="Sélectionner"
                              class="gna-form-dropdown"
                              formControlName="guarantee"
                              [filter]="true"
                              filterBy="name"
                              [showClear]="true"
                              [readonly]="isSave || accountService.pageLoading || accountService.isSave || loadingData">
                    <ng-template let-item pTemplate="item">
                      <div class="flex align-items-center gap-2">
                        <div>{{ item.guaranteeName }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>

                } @else {
                  <p-dropdown [options]="guaranteesByProductGroup"
                              optionLabel="guaranteeName"
                              placeholder="Sélectionner une garantie"
                              class="gna-form-dropdown"
                              [disabled]="isDisable">
                  </p-dropdown>
                }

              </div>

              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label>Description</label>
                <textarea rows="2" pInputTextarea formControlName="description"
                          class="gna-form-input"
                          [readonly]="isSave || accountService.pageLoading || accountService.isSave || loadingData"></textarea>
              </div>

            </div>
          </form>

          <div class="container-fluid gna-pricing-list">

            @for (pf of pricingFormList; track pf; let ifs = $index; let ffs = $first; let lfs = $last) {

              <form
                [formGroup]="pf">

                <div class="row mt-3">

                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                    <div class="row">
                      @if (ffs) {
                        <div class="col-12 col-sm-6 col-md-1 col-lg-1 col-xl-1">
                          <div class="gna-if gna-text-primary gna-text-bold">
                            Si
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-11 col-lg-11 col-xl-11">
                          <mat-form-field class="gna-pc-column">
                            <mat-label>Variable</mat-label>
                            <mat-select
                              formControlName="variableOne">
                              @for (variable of variableList; track variable) {
                                <mat-option [value]="variable.name" (click)="onGetVariableType(pf, variable)">{{variable.label}}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                        </div>
                      } @else {
                        <div class="col-12 col-sm-6 col-md-1 col-lg-1 col-xl-1">
                          <div class="gna-if gna-text-primary gna-text-bold">
                            Ou
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-10 col-lg-10 col-xl-10">
                          <mat-form-field class="gna-pc-column">
                            <mat-label>Variable</mat-label>
                            <mat-select
                              formControlName="variableOne">
                              @for (variable of variableList; track variable) {
                                <mat-option [value]="variable.name" (click)="onGetVariableType(pf, variable)">{{variable.label}}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                        </div>
                      }

                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                    <mat-form-field class="gna-pc-comparator">
                      <mat-label>Condition</mat-label>

                      <mat-select [disabled]="!pf.value.variableOne"
                                  formControlName="operatorOne">
                        @for (operator of pf.value.operatorList; track operator) {
                          <mat-option [value]="operator.typeCode"
                                      [disabled]="!pf.value.variableOne">{{operator.label}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>

                  </div>

                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                    @if (modeValue == 2) {

                      <mat-form-field class="gna-pc-column">
                        <mat-label>Variable</mat-label>
                        <mat-select [disabled]="!pf.value.operatorOne"
                                    formControlName="valueOne">
                          @for (variable of variableList; track variable) {
                            <mat-option [value]="variable.name"
                                        [disabled]="!pf.value.operatorOne">{{variable.label}}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>

                    } @else {

                      @if (pf.value.vOne && pf.value.vOne.typeCode == 2) {
                        <mat-form-field class="gna-pc-value">
                          <mat-label>Valeur</mat-label>
                          <input matInput
                                 required
                                 formControlName="valueOne"
                                 type="number"
                                 pattern="^[0-9]+(\.[0-9]+)?$"
                                 [readonly]="!pf.value.operatorOne">
                        </mat-form-field>
                      } @else if (pf.value.vOne && pf.value.vOne.typeCode == 3) {
                        <mat-form-field class="gna-pc-value">
                          <mat-label>Valeur</mat-label>
                          <input matInput
                                 required
                                 formControlName="valueOne"
                                 type="date"
                                 [readonly]="!pf.value.operatorOne">
                        </mat-form-field>
                      } @else {
                        <mat-form-field class="gna-pc-value">
                          <mat-label>Valeur</mat-label>
                          <input matInput
                                 required
                                 formControlName="valueOne"
                                 [readonly]="!pf.value.operatorOne">
                        </mat-form-field>
                      }

                    }

                  </div>

                  <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                    <div class="row">

                      <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                        <div class="gna-if gna-clickable gna-text-primary gna-text-bold"
                             [matMenuTriggerFor]="menu">
                          @if (pf.value.modeOutputLabel == 'et') {
                            <div class="gna-if-ml">{{ pf.value.modeOutputLabel }}</div>
                          } @else {
                            <div>{{ pf.value.modeOutputLabel }}</div>
                          }
                          <div><mat-icon>arrow_drop_down</mat-icon></div>
                        </div>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item class="pc-mode-item gna-text-primary gna-text-bold" (click)="onGetModeOutput(pf,1)"
                                  [disabled]="!pf.value.valueOne">Alors</button>
                          <button mat-menu-item class="pc-mode-item gna-text-primary gna-text-bold" (click)="onGetModeOutput(pf, 2)"
                                  [disabled]="!pf.value.valueOne">et</button>
                        </mat-menu>
                      </div>

                      @if (pf.value.operatorLogic) {

                        <div class="col-12 col-sm-6 col-md-10 col-lg-10 col-xl-10">
                          <mat-form-field class="gna-pc-column">
                            <mat-label>Variable</mat-label>
                            <mat-select
                              formControlName="variableTwo">
                              @for (variable of variableList; track variable) {
                                <mat-option [value]="variable.name" (click)="onGetVariableTypeTwo(pf, variable)">{{variable.label}}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                        </div>

                      } @else {
                        <div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8">
                          <mat-form-field class="gna-pc-output">
                            <mat-label>Résultat</mat-label>
                            <input matInput
                                   required
                                   formControlName="result"
                                   [readonly]="isReadonly">
                          </mat-form-field>
                        </div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                          @if (pf.value.valueOne) {
                            <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn-3 gna-clickable"
                                 (click)="onGetModalitySetting(pf)"
                                 matTooltip="Configurer Modalité Calcul">
                          } @else {
                            <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn-3 gna-disable">
                          }
                        </div>
                      }
                    </div>
                  </div>

                  @if (pf.value.operatorLogic) {

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                      <mat-form-field class="gna-pc-comparator">
                        <mat-label>Condition</mat-label>

                        <mat-select [disabled]="!pf.value.variableTwo"
                                    formControlName="operatorTwo">
                          @for (operator of pf.value.operatorListTwo; track operator) {
                            <mat-option [value]="operator.typeCode"
                                        [disabled]="!pf.value.variableTwo">{{operator.label}}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>

                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">

                      @if (modeValue == 2) {

                        <mat-form-field class="gna-pc-column">
                          <mat-label>Variable</mat-label>
                          <mat-select [disabled]="!pf.value.operatorTwo"
                                      formControlName="valueTwo">
                            @for (variable of variableList; track variable) {
                              <mat-option [value]="variable"
                                          [disabled]="!pf.value.operatorTwo">{{variable.label}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>

                      } @else {
                        @if (pf.value.vTwo && pf.value.vTwo.typeCode == 2) {
                          <mat-form-field class="gna-pc-value">
                            <mat-label>Valeur</mat-label>
                            <input matInput
                                   required
                                   formControlName="valueTwo"
                                   type="number"
                                   pattern="^[0-9]+(\.[0-9]+)?$"
                                   [readonly]="!pf.value.operatorTwo">
                          </mat-form-field>
                        } @else if (pf.value.vTwo && pf.value.vTwo.typeCode == 3) {
                          <mat-form-field class="gna-pc-value">
                            <mat-label>Valeur</mat-label>
                            <input matInput
                                   required
                                   formControlName="valueTwo"
                                   type="date"
                                   [readonly]="!pf.value.operatorTwo">
                          </mat-form-field>
                        } @else {
                          <mat-form-field class="gna-pc-value">
                            <mat-label>Valeur</mat-label>
                            <input matInput
                                   required
                                   formControlName="valueTwo"
                                   [readonly]="!pf.value.operatorTwo">
                          </mat-form-field>
                        }
                      }

                    </div>
                  }


                  @if (pf.value.operatorLogic) {

                    <div class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                      <div class="gna-if gna-clickable gna-text-primary gna-text-bold"
                           [matMenuTriggerFor]="menu">
                        @if (pf.value.modeOutputLabelTwo == 'et') {
                          <div class="gna-if-ml">{{ pf.value.modeOutputLabelTwo }}</div>
                        } @else {
                          <div>{{ pf.value.modeOutputLabelTwo }}</div>
                        }
                        <div><mat-icon>arrow_drop_down</mat-icon></div>
                      </div>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item class="pc-mode-item gna-text-primary gna-text-bold" (click)="onGetModeOutputTwo(pf,1)"
                                [disabled]="!pf.value.valueTwo">Alors</button>
                        <button mat-menu-item class="pc-mode-item gna-text-primary gna-text-bold" (click)="onGetModeOutputTwo(pf, 2)"
                                [disabled]="!pf.value.valueTwo">et</button>
                      </mat-menu>
                    </div>

                    @if (pf.value.operatorLogicTwo) {

                      <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">

                        <mat-form-field class="gna-pc-column">
                          <mat-label>Variable</mat-label>
                          <mat-select
                            formControlName="variableThree">
                            @for (variable of variableList; track variable) {
                              <mat-option [value]="variable.name" (click)="onGetVariableTypeThree(pf, variable)">{{variable.label}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">

                        <mat-form-field class="gna-pc-comparator">
                          <mat-label>Condition</mat-label>

                          <mat-select [disabled]="!pf.value.variableThree"
                                      formControlName="operatorThree">
                            @for (operator of pf.value.operatorListThree; track operator) {
                              <mat-option [value]="operator.typeCode"
                                          [disabled]="!pf.value.variableThree">{{operator.label}}</mat-option>
                            }
                          </mat-select>
                        </mat-form-field>

                      </div>

                      <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">

                        @if (modeValue == 2) {

                          <mat-form-field class="gna-pc-column">
                            <mat-label>Variable</mat-label>
                            <mat-select [disabled]="!pf.value.operatorThree"
                                        formControlName="valueThree">
                              @for (variable of variableList; track variable) {
                                <mat-option [value]="variable"
                                            [disabled]="!pf.value.operatorThree">{{variable.label}}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>

                        } @else {
                          @if (pf.value.vThree && pf.value.vThree.typeCode == 2) {
                            <mat-form-field class="gna-pc-value">
                              <mat-label>Valeur</mat-label>
                              <input matInput
                                     required
                                     formControlName="valueThree"
                                     type="number"
                                     pattern="^[0-9]+(\.[0-9]+)?$"
                                     [readonly]="!pf.value.operatorThree">
                            </mat-form-field>
                          } @else if (pf.value.vThree && pf.value.vThree.typeCode == 3) {
                            <mat-form-field class="gna-pc-value">
                              <mat-label>Valeur</mat-label>
                              <input matInput
                                     required
                                     formControlName="valueThree"
                                     type="date"
                                     [readonly]="!pf.value.operatorThree">
                            </mat-form-field>
                          } @else {
                            <mat-form-field class="gna-pc-value">
                              <mat-label>Valeur</mat-label>
                              <input matInput
                                     required
                                     formControlName="valueThree"
                                     [readonly]="!pf.value.operatorThree">
                            </mat-form-field>
                          }
                        }

                      </div>

                    }

                  }

                  @if (pf.value.operatorLogic) {

                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">


                      <div class="row">

                        @if (pf.value.operatorLogicTwo) {
                          <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                            <div class="gna-if-2 gna-text-primary gna-text-bold">
                              Alors
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-9 col-lg-9 col-xl-9">
                            <mat-form-field class="gna-pc-output">
                              <mat-label>Résultat</mat-label>
                              <input matInput
                                     required
                                     formControlName="result"
                                     [readonly]="isReadonly">
                            </mat-form-field>
                          </div>
                        } @else {
                          <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-11">
                            <mat-form-field class="gna-pc-output">
                              <mat-label>Résultat</mat-label>
                              <input matInput
                                     required
                                     formControlName="result"
                                     [readonly]="isReadonly">
                            </mat-form-field>
                          </div>
                        }


                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                          @if (pf.value.valueOne) {
                            <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn-3 gna-clickable"
                                 (click)="onGetModalitySetting(pf)"
                                 matTooltip="Configurer Modalité Calcul">
                          } @else {
                            <img src="assets/images/table-pencil.svg" alt="" class="gna-table-btn-3 gna-disable">
                          }
                        </div>

                      </div>

                    </div>
                  }

                  <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                    @if (pf.value.output && lfs) {
                      @if (isSave) {
                        <button
                          mat-raised-button
                          color="primary"
                          class="gna-disable gna-btn-default-action gna-mt-btn-2">
                          +
                        </button>
                      } @else {
                        <button
                          type="button"
                          mat-raised-button
                          color="primary"
                          class="gna-btn-default-action gna-mt-btn-2"
                          (click)="onAddFormStep()"
                          matTooltip="Ajouter clause">
                          +
                        </button>
                      }
                    } @else {
                      <button
                        mat-raised-button
                        color="primary"
                        class="gna-disable gna-btn-default-action gna-mt-btn-2">
                        +
                      </button>
                    }
                    @if (isSave) {
                      <button
                        type="button"
                        mat-raised-button
                        color="primary"
                        class="gna-btn-default-action gna-mt-btn-2 img-ml gna-disable"
                        *ngIf="!ffs">
                        -
                      </button>
                    } @else {
                      <button
                        type="button"
                        mat-raised-button
                        color="primary"
                        class="gna-btn-default-action gna-mt-btn-2 img-ml"
                        (click)="onRemoveStep(pf)"
                        matTooltip="Supprimer clause"
                        *ngIf="!ffs">
                        -
                      </button>
                    }
                  </div>
                </div>

              </form>

            }

          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
