<div class="gna-bc">
  <span>Gestion des comptes / Demmandes d'ouvertures de comptes / Entreprises</span>
</div>

<div class="container-fluid">

  <div>
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onGoToBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

            @if (elementData && elementData.validation_status <= 1) {

              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-6">

                @if (isSave || accountService.pageLoading || accountService.isSave) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width gna-disable">Valider</button>
                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onValid()">Valider</button>
                }
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

                @if (isSave || accountService.pageLoading || accountService.isSave) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-cancel gna-full-width gna-disable">Rejeter</button>
                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-cancel gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onReject()">Rejeter</button>
                }
              </div>

            } @else if (elementData && elementData.validation_status == 3) {
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

                @if (isSave || accountService.pageLoading || accountService.isSave) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width gna-disable">Valider</button>
                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onValid()">Valider</button>
                }
              </div>
            }

          </div>
        </div>
      </mat-card-header>

      <mat-card-content>

        <div class="container-fluid">
          <div class="example-table-container mt-4">
            <div class="card">
              <div class="card-body gna-card-body"
                   *ngIf="elementData">

                <div class="row" *ngIf="elementData.validation_status == 3">
                  <div class="col offset-10">
                    <p-tag severity="danger" value="Rejeté"></p-tag>
                  </div>
                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">Type Compte : </span>
                    <span class="gna-view-value">
                     Entreprise
                    </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label"> Code Compte : </span>
                    <span class="gna-view-value">
                         @if (elementData.numero_compte ) {
                           {{ elementData.numero_compte }}
                         } @else {
                           N/A
                         }
                    </span>
                  </div>

                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label"> Code Assuré : </span>
                    <span class="gna-view-value">
                         @if (elementData.numero_assure ) {
                           {{ elementData.numero_assure }}
                         } @else {
                           N/A
                         }
                    </span>
                  </div>


                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label"> N° CNI : </span>
                    <span class="gna-view-value">
                         @if (elementData.matricule_cni ) {
                           {{ elementData.matricule_cni }}
                         } @else {
                           N/A
                         }
                    </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">N° CMU : </span>
                    <span class="gna-view-value">
                      @if (elementData.matricule_cmu) {
                        {{ elementData.matricule_cmu }}
                      } @else {
                        N/A
                      }
                    </span>
                  </div>

                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label"> Raison Sociale : </span>
                    <span class="gna-view-value">
                         @if (elementData.raison_sociale ) {
                           {{ elementData.raison_sociale }}
                         } @else {
                           N/A
                         }
                    </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">Code Segment : </span>
                    <span class="gna-view-value">
                        @if (elementData.code_segment ) {
                          {{ elementData.code_segment }}
                        } @else {
                          N/A
                        }
                    </span>
                  </div>

                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label"> Prénom : </span>
                    <span class="gna-view-value">
                         @if (elementData.prenom ) {
                           {{ elementData.prenom }}
                         } @else {
                           N/A
                         }
                    </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">Email : </span>
                    <span class="gna-view-value">
                      @if (elementData.email) {
                        {{ elementData.email }}
                      } @else {
                        N/A
                      }
                    </span>
                  </div>

                </div>

                <div class="row">

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">Téléphone : </span>
                    <span class="gna-view-value">
                        @if (elementData.contact ) {
                          {{ elementData.contact }}
                        } @else {
                          N/A
                        }
                    </span>
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <span class="gna-view-label">Adresse : </span>
                    <span class="gna-view-value">
                      @if (elementData.adress) {
                        {{ elementData.adress }}
                      } @else {
                        N/A
                      }</span>
                  </div>

                </div>

              </div>
            </div>

            <div class="row gna-files">
              <span class="gna-files-underline">Documents joints</span>
              <div class="row">

                @if (elementData.medias && elementData.medias.length > 0) {

                  <div class="col-6 col-sm-6 col-md-2 col-lg-1 col-xl-1" *ngFor="let file of elementData.medias">
                    <span class="gna-element-file-name">{{ file.libelle }}</span>
                    <br>

                    @if (file.type == "image/jpeg" ) {
                      <a href="{{ environment.customersService+file.lien }}" download target="_blank">
                        <img src="assets/svg/files/jpg-svgrepo-com.svg" alt="{{ file.libelle }}" class="gna-element-file gna-clickable">
                      </a>
                    } @else if (file.type == "image/png") {
                      <a href="{{ environment.customersService+file.lien }}" download target="_blank">
                        <img src="assets/svg/files/png-svgrepo-com.svg" alt="{{ file.libelle }}" class="gna-element-file gna-clickable">
                      </a>
                    } @else if (file.type == "pdf") {
                      <a href="{{ environment.customersService+file.lien }}" download target="_blank">
                        <img src="assets/svg/files/pdf-svgrepo-com.svg" alt="{{ file.libelle }}" class="gna-element-file gna-clickable">
                      </a>
                    } @else if (file.type == "doc" || "doc") {
                      <a href="{{ environment.customersService+file.lien }}" download target="_blank">
                        <img src="assets/svg/files/word-svgrepo-com.svg" alt="{{ file.libelle }}" class="gna-element-file gna-clickable">
                      </a>
                    }

                  </div>

                } @else {
                  <div class="col">
                    <span class="gna-element-file-name">N/A</span>
                  </div>
                }

              </div>
            </div>
          </div>

        </div>
      </mat-card-content>

    </mat-card>

  </div>

</div>
