
<ng-container *ngIf="currentSelectedTag">


  <div class="form-builder-field-header">
   <span>
     {{ currentSelectedTag.stepLabel }} | {{ currentSelectedTag.questionLabel }}
   </span> <br>
    <span *ngIf="currentSelectedTag.fieldTag">
      Paramétrage du champs : {{ currentSelectedTag.fieldTag.name }}
    </span>
  </div>


  <div mat-dialog-content class="form-builder-field-body">
    <form [formGroup]="inputForm">

      <div class="row">
        <div class="col-12">
          <label for="label">
            Label
          </label>
          <input pInputText
                 type="text" id="label" class="gna-form-input"
                 formControlName="label"/>
        </div>

        <div class="col-12 mt-2">
          <label>
            Options
          </label>
          <textarea pInputTextarea formControlName="options"
                    class="gna-form-input">
          </textarea>
        </div>

        <div class="col-12 mt-2">
          <label>
            Values
          </label>
          <textarea pInputTextarea formControlName="values"
                    class="gna-form-input"></textarea>
        </div>

        <div class="col-12 mt-2">

              <label for="required" class="label-mr">Required</label>
              <p-checkbox id="required" formControlName="required" [binary]="true"
                          class="gna-form-checkbox"></p-checkbox>
            </div>

      </div>

    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button (click)="onNoClick()" color="primary" class="gna-fb-btn">Fermer</button>
    @if (!inputForm.valid) {
      <button mat-raised-button
              color="primary" class="gna-fb-btn gna-disable">Valider</button>
    } @else {
      <button mat-raised-button [mat-dialog-close]="this.inputForm" cdkFocusInitial
              color="primary" class="gna-fb-btn">Valider</button>
    }

  </div>


</ng-container>
