<div class="gna-bc">
    <span>Marketing / Campagne / Créer</span>
</div>


<div class="container-fluid">

    <div>
        <mat-card class="gna-card">

            <mat-card-header class="gna-card-header">
                <div class="container-fluid">

                    <div class="gna-card-header-btn row">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

                            @if (isSave || accountService.pageLoading || accountService.isSave) {
                            <button mat-raised-button color="primary"
                                class="gna-full-width gna-btn-default gna-disable">Retour</button>
                            } @else {
                            <button mat-raised-button color="primary" class="gna-full-width gna-btn-default"
                                (click)="onGoToBack()"
                                [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
                            }

                        </div>

                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

                            @if (isSave || accountService.pageLoading || accountService.isSave) {
                            <button mat-raised-button
                                class="gna-btn-default gna-btn-save gna-full-width gna-disable">Enregistrer</button>
                            } @else {

                            @if (!formData.valid) {
                            <button mat-raised-button class="gna-btn-default gna-btn-save gna-full-width"
                                [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                                (click)="onGetNotBlankAlert()">Enregistrer</button>

                            } @else {
                            <button mat-raised-button class="gna-btn-default gna-btn-save gna-full-width"
                                [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                                (click)="onConfirm()">Enregistrer</button>
                            }
                            }
                        </div>

                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="container-fluid">
                    <form [formGroup]="formData">
                        <div class="row pb-2 gna-form">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2">
                                @if (campaignImageUrl) {
                                <p-image src="{{ campaignImageUrl }}" alt="Product Image" width="50"
                                    height="30"></p-image>
                                } @else {
                                <label for="name">Image </label>
                                }
                                <div class="input-group mt-2">
                                    <input type="file" accept="image/*" class="gna-form-input" id="campaignImageFile">
                                </div>
                                <small class="gna-text-red" *ngIf="imageErrorMessage">{{ imageErrorMessage }}</small>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                                <label for="name">Nom Campagne </label>
                                <input pInputText type="text" id="name" aria-describedby="name-help"
                                    placeholder="Nom Campagne *" class="gna-form-input" required
                                    formControlName="libelle" />
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label>Segement</label>
                                <p-dropdown [options]="segmentList" optionLabel="name"
                                    emptyMessage="Aucun résultat trouvé" placeholder="Segment *"
                                    class="gna-form-dropdown" formControlName="segment_id" value=""
                                    [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                                    <ng-template let-item pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ item.name }}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label for="lien">lien</label>
                                <input pInputText type="text" id="lien" aria-describedby="name-help"
                                    placeholder="lien Segment" class="gna-form-input" formControlName="lien" />
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2">
                                <label for="date_debut">Date Début</label>
                                <p-calendar id="date_debut" formControlName="date_debut" [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2">
                                <label for="date_fin">Date Fin</label>
                                <p-calendar id="date_fin" formControlName="date_fin" [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                            </div>
                            <div *ngIf="formData.errors?.['dateRange']" class="error-message">
                                La date de fin doit être postérieure à la date de début.
                            </div>

                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                <label >Texte lien</label>
                                <input pInputText type="text" id="lien" aria-describedby="name-help"
                                    placeholder="texte lien" class="gna-form-input" formControlName="texte_lien" />

                            </div>


                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label>Message</label>
                                <textarea rows="2" pInputTextarea formControlName="message"
                                    class="gna-form-input"></textarea>
                            </div>

                        </div>
                    </form>

                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>