<div class="gna-bc">
  <span>Configuration des produits / Garanties / Créer</span>
</div>

<div class="container-fluid">

  <div>
    <mat-card class="gna-card">
      <mat-card-header class="gna-card-header">
        <div class="container-fluid">

          <div class="gna-card-header-btn row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2">

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default gna-disable">Retour</button>
              } @else {
                <button mat-raised-button color="primary"
                        class="gna-full-width gna-btn-default"
                        (click)="onBack()"
                        [disabled]="isSave || accountService.pageLoading || accountService.isSave">Retour</button>
              }

            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-2 offset-xl-8">

              @if (authService.getProfilePermission(
                'GROUP_MANAGEMENT_PRODUCTS',
                'ROLE_MANAGEMENT_PRODUCT_GUARANTEES',
                'PERMISSION_ADD')) {

              @if (isSave || accountService.pageLoading || accountService.isSave) {
                <button mat-raised-button
                        class="gna-btn-default gna-btn-save gna-full-width gna-disable">Enregistrer</button>
              } @else {

                @if (!formData.valid) {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onGetNotBlankAlert()">Enregistrer</button>

                } @else {
                  <button mat-raised-button
                          class="gna-btn-default gna-btn-save gna-full-width"
                          [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                          (click)="onConfirm()">Enregistrer</button>
                }
              }
              }
            </div>

          </div>
        </div>
      </mat-card-header>
      <div class="container-fluid">
      <div class="example-table-container-form mt-4">

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active"
               id="pills-home-tab"
               data-bs-toggle="pill"
               data-bs-target="#pills-home"
               type="button" role="tab"
               aria-current="page"
               aria-controls="pills-home"
               aria-selected="true">Garantie</a>
          </li>
          <li class="nav-item gna-nav-tabs-2">
            <a class="nav-link gna-disable"
               id="pills-profile-tab"
               data-bs-toggle="pill"
               data-bs-target="#pills-partners"
               type="button" role="tab"
               aria-controls="pills-partners"
               aria-selected="false" disabled>Sous Garanties</a>
          </li>
        </ul>

        <div class="gna-card-tab-item">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

              <div class="container-fluid">
                <form
                  [formGroup]="formData">
                  <div class="row pb-2 gna-form">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Code Garantie
                        <span class="gna-text-red gna-text-bold">*</span></label>
                      <p-iconField iconPosition="right">
                        <p-inputIcon styleClass="pi pi-info" />
                      <input pInputText
                             type="text" id="code" aria-describedby="name-help" placeholder="Code" class="gna-form-input"
                             required
                             formControlName="code"/>
                      </p-iconField>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Nom Garantie
                        <span class="gna-text-red gna-text-bold">*</span></label>
                      <p-iconField iconPosition="right">
                        <p-inputIcon styleClass="pi pi-info" />
                      <input pInputText
                             type="text" id="name" aria-describedby="name-help" placeholder="Nom" class="gna-form-input"
                             required
                             formControlName="name"/>
                      </p-iconField>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      @if (categoryList && categoryList.length > 0) {
                        <label>Catégorie
                          <span class="gna-text-red gna-text-bold">*</span>
                        </label>

                        <p-dropdown [options]="categoryList"
                                    optionLabel="name" placeholder="Selectionner"
                                    class="gna-form-dropdown"
                                    formControlName="category"
                                    [filter]="true"
                                    filterBy="name"
                                    [showClear]="true"
                                    [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                          <ng-template let-item pTemplate="item">
                            <div class="flex align-items-center gap-2">
                              <div>{{ item.name }}</div>
                            </div>
                          </ng-template>
                        </p-dropdown>
                      } @else {
                        <label>Catégorie
                          <span class="gna-text-red gna-text-bold">*</span>
                        </label>
                        <p-dropdown placeholder="Selectionner"
                                    class="gna-form-dropdown" [disabled]="isDisable"></p-dropdown>
                      }
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Taux Taxe Assurance
                        <span class="gna-text-red gna-text-bold">*</span></label>
                      <p-inputNumber
                        inputId="percent"
                        suffix="%"
                        required
                        formControlName="taxRate"
                        placeholder="Pourcentage"
                        [minFractionDigits]="2"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="name">Taux Franchise</label>
                      <p-inputNumber
                        inputId="percent"
                        suffix="%"
                        formControlName="franchiseRate"
                        placeholder="Pourcentage"
                        [minFractionDigits]="2"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="franchiseMinimum">Franchise Minimum</label>
        <!--              <p-iconField iconPosition="right">
                        <p-inputIcon styleClass="pi pi-money-bill" />
                      <input pInputText pKeyFilter="money"
                             id="franchiseMinimum" aria-describedby="accessory-amount-company-help" placeholder="Montant" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             formControlName="franchiseMinimum"
                             max="{{franchiseMaximum.value}}"
                             #franchiseMinimum
                             [readonly]="isSave || accountService.pageLoading"/>
                      </p-iconField>-->

                      <p-inputNumber
                        id="franchiseMinimum"
                        mode="currency"
                        inputId="currency-ivory-cost"
                        currency="XOF"
                        locale="ci-CI"
                        [minFractionDigits]="2"
                        formControlName="franchiseMinimum"
                        #franchiseMinimum
                        class="gna-form-inputNumber"
                        placeholder="Montant"
                        [readonly]="isSave || accountService.pageLoading"/>

                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="franchiseMaximum">Franchise Maximum</label>
               <!--       <p-iconField iconPosition="right">
                        <p-inputIcon styleClass="pi pi-money-bill" />
                      <input pInputText pKeyFilter="money"
                             id="franchiseMaximum" aria-describedby="accessory-amount-company-help" placeholder="Montant" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             min="1"
                             formControlName="franchiseMaximum"
                             max="{{franchiseMaximum.value}}"
                             #franchiseMaximum
                             [readonly]="isSave || accountService.pageLoading"/>
                      </p-iconField>-->
                      <p-inputNumber
                        id="franchiseMaximum"
                        mode="currency"
                        inputId="currency-ivory-cost"
                        currency="XOF"
                        locale="ci-CI"
                        [minFractionDigits]="2"
                        formControlName="franchiseMaximum"
                        placeholder="Montant"
                        #franchiseMaximum
                        [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="premiumMinimum">Prime minimum
                        <span class="gna-text-red gna-text-bold">*</span></label>
                      <!--         <p-iconField iconPosition="right">
                                 <p-inputIcon styleClass="pi pi-money-bill" />
                               <input pInputText pKeyFilter="money"
                                      id="premiumMinimum" aria-describedby="accessory-amount-company-help"
                                      placeholder="Montant" class="gna-form-input"
                                      type="number"
                                      pattern="^[0-9]+(\.[0-9]+)?$"
                                      min="1"
                                      required
                                      formControlName="premiumMinimum"
                                      [readonly]="isSave || accountService.pageLoading"/>
                               </p-iconField>-->
                      <p-iconField iconPosition="right">
                        <p-inputNumber
                          id="premiumMinimum"
                          mode="currency"
                          inputId="currency-ivory-cost"
                          currency="XOF"
                          locale="ci-CI"
                          [minFractionDigits]="2"
                          required
                          formControlName="premiumMinimum"
                          placeholder="Montant"
                          [readonly]="isSave || accountService.pageLoading"/>
                      </p-iconField>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="subscriptionMinimumPeriod">Durée Minimum Souscription
                        <span class="gna-text-red gna-text-bold">*</span></label>
                      <p-iconField iconPosition="right">
                        <p-inputIcon styleClass="pi pi-calendar-minus" />
                      <input pInputText pKeyFilter="int"
                             id="subscriptionMinimumPeriod" aria-describedby="accessory-amount-company-help"
                             placeholder="Jours" class="gna-form-input"
                             type="number"
                             pattern="[0-9]*"
                             min="1"
                             max="{{subscriptionMaximumPeriod.value}}"
                             required
                             #subscriptionMinimumPeriod
                             formControlName="subscriptionMinimumPeriod"
                             [readonly]="isSave || accountService.pageLoading"/>
                      </p-iconField>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="franchiseMinimum">Durée Maximum Souscription
                        <span class="gna-text-red gna-text-bold">*</span></label>
                      <p-iconField iconPosition="right">
                        <p-inputIcon styleClass="pi pi-calendar-plus" />
                      <input pInputText pKeyFilter="int"
                             id="subscriptionMaximumPeriod" aria-describedby="accessory-amount-company-help"
                             placeholder="Jours" class="gna-form-input"
                             type="number"
                             pattern="[0-9]*"
                             min="{{subscriptionMinimumPeriod.value}}"
                             required
                             #subscriptionMaximumPeriod
                             formControlName="subscriptionMaximumPeriod"
                             [readonly]="isSave || accountService.pageLoading"/>
                      </p-iconField>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="deficiencyDeadline">Délai de carence</label>
                      <p-iconField iconPosition="right">
                        <p-inputIcon styleClass="pi pi-info" />
                      <input pInputText pKeyFilter="int"
                             id="deficiencyDeadline" aria-describedby="accessory-amount-company-help"
                             placeholder="Nombre" class="gna-form-input"
                             type="number"
                             pattern="^[0-9]+(\.[0-9]+)?$"
                             min="1"
                             #deficiencyDeadline
                             formControlName="deficiencyDeadline"
                             [readonly]="isSave || accountService.pageLoading"/>
                      </p-iconField>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Unité délai de carence</label>
                      <p-dropdown formControlName="deficiencyDeadlineUnit" [options]="periodList"
                                  optionLabel="name" placeholder="Selectionner"
                                  class="gna-form-dropdown"
                                  #deficiencyDeadlineUnit
                                  [showClear]="true"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="guaranteeFloor">Plancher de garantie</label>
                      <!--
                                           <input pInputText pKeyFilter="money"
                                                  id="guaranteeFloor" aria-describedby="accessory-amount-company-help" placeholder="Montant" class="gna-form-input"
                                                  type="number"
                                                  pattern="^[0-9]+(\.[0-9]+)?$"
                                                  formControlName="guaranteeFloor"
                                                  [readonly]="isSave || accountService.pageLoading"/>-->
                      <p-inputNumber
                        id="guaranteeFloor"
                        mode="currency"
                        inputId="currency-ivory-cost"
                        currency="XOF"
                        locale="ci-CI"
                        [minFractionDigits]="2"
                        formControlName="guaranteeFloor"
                        placeholder="Montant"
                        [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label for="guaranteeCeiling">Plafond de garantie</label>
                      <!--       <input pInputText pKeyFilter="money"
                                    id="guaranteeCeiling" aria-describedby="accessory-amount-company-help" placeholder="Montant" class="gna-form-input"
                                    type="number"
                                    pattern="^[0-9]+(\.[0-9]+)?$"
                                    formControlName="guaranteeCeiling"
                                    [readonly]="isSave || accountService.pageLoading"/>-->
                      <p-inputNumber
                        id="guaranteeCeiling"
                        mode="currency"
                        inputId="currency-ivory-cost"
                        currency="XOF"
                        locale="ci-CI"
                        [minFractionDigits]="2"
                        formControlName="guaranteeCeiling"
                        placeholder="Montant"
                        [readonly]="isSave || accountService.pageLoading"/>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Réduction Applicable
                        <span class="gna-text-red gna-text-bold">*</span></label>
                      <p-dropdown formControlName="discountApplicable" [options]="yesOrNoList"
                                  optionLabel="name" placeholder="Selectionner"
                                  class="gna-form-dropdown"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Territorialité
                        <span class="gna-text-red gna-text-bold">*</span></label>
                      <br>
                      <p-dropdown
                        [options]="zoneList"
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                                   formControlName="zone"
                                  class="gna-form-dropdown"
                                  placeholder="Selectionner"
                                  [readonly]="isSave || accountService.pageLoading || accountService.isSave"></p-dropdown>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                      <label>Partenaires Techniques</label>
                      <p-multiSelect [options]="partnerList"
                                     optionLabel="name" placeholder="Selectionner"
                                     class="gna-form-multiselect"
                                     formControlName="partners"
                                     emptyMessage="Aucun résultat trouvé"
                                     display="chip"
                                     [filter]="true"
                                     filterBy="name"
                                     [showClear]="true"
                                     [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                        <ng-template let-partner pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <div>{{ partner.name }}</div>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                      <label>Clauses</label>
                      <button
                        type="button"
                        mat-stroked-button color="primary" class="example-full-width gna-btn-clauses"
                        (click)="openClauseEditorDialog()">Ajouter</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <label>Description</label>
                      <textarea rows="2" pInputTextarea formControlName="description"
                                class="gna-form-input"></textarea>
                    </div>

                  </div>

                </form>
              </div>

            </div>

            <div class="tab-pane fade" id="pills-partners" role="tabpanel" aria-labelledby="pills-partners-tab" tabindex="0">
            </div>
          </div>
        </div>

      </div>
      </div>
    </mat-card>
  </div>

</div>
