<div class="gna-bc">
  <span>Paramètres / Profils / Créer</span>
</div>


<div class="gna-main-content">

  <div class="container-fluid gna-main-div-card">
    <mat-card class="gna-card">

      <mat-card-header class="gna-card-header">
        <div class="gna-card-header-btn row">
          <div class="col-12 col-sm-6">
            <button mat-raised-button
                    class="gna-btn-default gna-btn-cancel"
                    (click)="onBack()"
                    [disabled]="isSave || accountService.pageLoading || accountService.isSave">Annuler</button>
          </div>
          <div class="col-12 col-sm-6">
            @if (!formProfile.valid) {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      (click)="onGetNotBlankAlert()">Enregistrer</button>
            } @else {
              <button mat-raised-button
                      class="gna-btn-default gna-btn-save"
                      [disabled]="isSave || accountService.pageLoading || accountService.isSave"
                      (click)="openConfirmAdd()">Enregistrer</button>
            }
          </div>

        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="container-fluid">


          <form
            [formGroup]="formProfile">
            <div class="row pb-2 gna-form">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="name">Nom Profil
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>
                <input pInputText
                       type="text" id="name" aria-describedby="name-help" placeholder="Nom du profil" class="gna-form-input"
                       required
                       formControlName="name"/>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label>Type Utilisateur
                  <span class="gna-text-red gna-text-bold">*</span>
                </label>

                <p-dropdown [options]="userTypes"
                            optionLabel="viewValue"
                            emptyMessage="Aucun résultat trouvé"
                            placeholder="Sélectionner un type d'utilisateur"
                            class="gna-form-dropdown"
                            formControlName="userType"
                            [readonly]="isSave || accountService.pageLoading || accountService.isSave">
                  <ng-template let-item pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ item.viewValue }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
          </form>
            <div class="gna-profiles-table container-fluid m-2">

              <div class="row">

                  <div class="col-3"
                       *ngFor="let fug of formUserGroupList">
                 <!--   <form
                    [formGroup]="fug">
-->
                      <div class="position-fixed">
                      <div class="gna-pdh">
                        <div>
                          <mat-icon>{{ fug.icon }}</mat-icon>
                        </div>
                        <div>
                          {{ fug.label }}
                        </div>
                      </div>
                      </div>

                    <div class="gna-pr container-fluid">
                      <ng-container *ngIf="fug && fug['roles'] && fug.roles.length > 0">

                        @for (role of fug["roles"]; track role) {
                          <div>
                            <span class="gna-psh">{{ role.label }}</span>

                            <ng-container
                              *ngIf="role && role.permissions && role.permissions.length > 0">
                              @for (permission of role["permissions"]; track permission) {
                                <form
                                  [formGroup]="permission['formPermission']">

                                  <div class="row">
                                    <div class="col-2 gna-pis-mr">
                                      <p-inputSwitch formControlName="permissionStatus"></p-inputSwitch>
                                    </div>
                                    <div class="col-8">
                                      {{ permission.label }}
                                    </div>
                                  </div>
                                </form>
                              }
                            </ng-container>

                          </div>
                        }

                      </ng-container>
                    </div>

<!--                    </form>-->

                  </div>

              </div>


            </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

</div>
