

<div class="gna-simulation">

  <div class="container">

    <div class="row">
      <div class="gna-simulation-card">

        @if (currentStep) {

        <!--  @for (step of quotationFormStep; track step; let is = $index; let fs = $first; let ls = $last) {

            @if (step.position == 1) {-->

              <div class="gna-simulation-step">
                Etape {{ currentStep.position }}: {{ currentStep.name }}
              </div>
              <div class="gna-simulation-question-barre"></div>

              @if (currentStep && currentStepQuestion) {

             <!--   @for (question of currentStep.questions; track question; let iq = $index; let fq = $first; let lq = $last) {

                  @if (fq) {-->

                    <div class="gna-simulation-question">
                      Question {{ currentStepQuestion.position }}: {{ currentStepQuestion.name }}
                    </div>

                      @if (currentStepQuestion.field) {
                        <ng-container>

                          @switch (currentStepQuestion.field.code) {
                            @case (1) {
                              <app-simulation-text [field]="currentStepQuestion.field"></app-simulation-text>
                            }
                            @case (2) {
                              <app-simulation-number [field]="currentStepQuestion.field"></app-simulation-number>
                            }
                            @case (3) {
                              <app-simulation-date [field]="currentStepQuestion.field"></app-simulation-date>
                            }
                            @case (4) {
                              <app-simulation-checkbox [field]="currentStepQuestion.field"></app-simulation-checkbox>
                            }
                            @case (5) {
                              <app-simulation-radio [field]="currentStepQuestion.field"></app-simulation-radio>
                            }
                            @case (6) {
                              <app-simulation-select [field]="currentStepQuestion.field"></app-simulation-select>
                            }
                            @case (7) {
                              <app-simulation-textarea [field]="currentStepQuestion.field"></app-simulation-textarea>
                            }
                            @case (8) {
                              <app-simulation-email [field]="currentStepQuestion.field"></app-simulation-email>
                            }
                            @case (9) {
                              <app-simulation-tel [field]="currentStepQuestion.field"></app-simulation-tel>
                            }
                          }
                        </ng-container>
                      }

                    <div class="gna-simulation-btn">
                      @if (currentStepQuestionIndex == currentStep.questions.length -1) {
                        @if (currentStepIndex > 0
                          && currentStepIndex <= this.quotationFormSteps.length -1) {
                        <button type="button"
                                class="btn btn-primary gna-btn-p"
                                (click)="onGoToPreviousS(currentStep, currentStepQuestion)">Précédent</button>
                        } @else {
                          <button type="button"
                                  class="btn btn-primary gna-btn-p"
                                  (click)="onGoToPreviousQ(currentStep, currentStepQuestion)">Précédent</button>
                        }
                        <button type="button"
                                class="btn btn-primary gna-btn-c"
                                (click)="onGoToNextS(currentStep, currentStepQuestion)">Suivant</button>
                      } @else {
                        @if (currentStepIndex > 0 && currentStepQuestionIndex == 0) {
                          <button type="button"
                                  class="btn btn-primary gna-btn-p"
                                  (click)="onGoToPreviousS(currentStep, currentStepQuestion)">Précédent</button>
                        } @else if (currentStepQuestionIndex > 0
                        && currentStepQuestionIndex <= currentStep.questions.length -1) {
                          <button type="button"
                                  class="btn btn-primary gna-btn-p"
                                  (click)="onGoToPreviousQ(currentStep, currentStepQuestion)">Précédent</button>
                        }
                        <button type="button"
                                class="btn btn-primary gna-btn-c"
                                (click)="onGoToNextQ(currentStep, currentStepQuestion)">Suivant</button>
                      }
                    </div>

                  }

           <!--     }

              }-->

     <!--       }

        }-->
        }

      </div>

      </div>

  </div>

</div>
